{include file="public/header" /}
<div class="main">
    <div class="big-links-w">
        <div class="w1200">
            <div class="big-links">
                <a class="big-link" href="全部分类.html">
                    <i class="icon icon1"></i>
                    <span class="text">全部商品分类</span>
                </a>
                <a class="big-link selected" href="全部品牌.html">
                    <i class="icon icon2"></i>
                    <span class="text">全部品牌</span>
                </a>
                <a class="big-link big-link-last" href="">
                    <i class="icon icon3"></i>
                    <span class="text">全部商品</span>
                </a>
            </div>
            <div class="c-b">
                <div class="c-title">全部品牌</div>
                <ul class="it-list">
				{volist name="data.brand_list" id="vo"}
                    <li>
					<a href="">
                        <div class="img-box">
                            <img src="{$webUrl}{$vo.brand_logo}" alt="">
                        </div>
                        <div class="title ellipsis">{$vo.brand_name}</div>
                    </a>
					</li>
				{/volist}

                </ul>
            </div>
        </div>
    </div>
</div>
{include file="public/footer" /}
    <script>
        $(function(){
            
        });
    </script>
</body>
</html>