@keyframes jun1 {
  0% {
    -webkit-transform: perspective(1000px) rotateX(90deg);
    opacity: 0;
  }
  33% {
    -webkit-transform: perspective(1000px) rotateX(-10deg);
  }
  66% {
    -webkit-transform: perspective(1000px) rotateX(10deg);
  }
  100% {
    -webkit-transform: perspective(1000px) rotateX(0deg);
    opacity: 1;
  }
}
@-webkit-keyframes jun1 {
  0% {
    -webkit-transform: perspective(1000px) rotateX(90deg);
    opacity: 0;
  }
  33% {
    -webkit-transform: perspective(1000px) rotateX(-10deg);
  }
  66% {
    -webkit-transform: perspective(1000px) rotateX(10deg);
  }
  100% {
    -webkit-transform: perspective(1000px) rotateX(0deg);
    opacity: 1;
  }
}
.head-wrap {
  border-bottom: 1px solid #e6e6e6;
  position: relative;
}
.head-wrap .icon {
  position: absolute;
  width: 25px;
  height: 20px;
  background: url(../images/sprites.png) no-repeat;
  right: 26px;
  top: 44px;
  display: none;
  cursor: pointer;
}
.head p {
  color: #666666;
  font-size: 18px;
  margin-top: 27px;
  margin-bottom: 9px;
}
.head a {
  color: #a2a09f;
}
.head > div {
  float: left;
  height: 110px;
  border-right: 1px solid #e6e6e6;
  box-sizing: border-box;
}
.head .ier {
  font-size: 14px;
  color: #a2a09f;
}
.head .ier a,
.head .ier span {
  float: left;
}
.head .h1 {
  width: 22%;
}
.head .h1 p {
  padding-left: 41%;
}
.head .h1 .ier {
  padding-left: 41%;
}
.head .h1 .ier .a1 {
  background: url(../images/h.png) no-repeat left center;
  padding-left: 33px;
  box-sizing: border-box;
  line-height: 26px;
  width: 76px;
  height: 26px;
}
.head .h1 .ier .a1:hover {
  background: url(../images/hx.png) no-repeat left center;
  color: #3a8eff;
}
.head .h1 .ier span {
  width: 38px;
  line-height: 26px;
  text-align: center;
}
.head .h1 .ier .a2 {
  background: url(../images/h1.png) no-repeat left center;
  padding-left: 21px;
  box-sizing: border-box;
  line-height: 26px;
  width: 76px;
  height: 26px;
}
.head .h1 .ier .a2:hover {
  background: url(../images/h1x.png) no-repeat left center;
  color: #3a8eff;
}
.head .h2 {
  width: 17%;
}
.head .h2 p {
  padding-left: 20%;
}
.head .h2 .ier {
  padding-left: 20%;
  font-size: 14px;
}
.head .h2 .ier span {
  width: 38px;
  line-height: 26px;
  text-align: center;
}
.head .h2 .ier .b1 {
  background: url(../images/hx.png) no-repeat right center;
  box-sizing: border-box;
  line-height: 26px;
  width: 76px;
  height: 26px;
  color: #3a8eff;
}
.head .h2 .ier .b2 {
  background: url(../images/h1x.png) no-repeat left center;
  box-sizing: border-box;
  line-height: 26px;
  width: 15px;
  height: 26px;
}
.head .h2 .ier .b3 {
  background: url(../images/h5.jpg) no-repeat center;
  box-sizing: border-box;
  line-height: 26px;
  width: 58px;
  height: 26px;
  position: relative;
  float: left;
  cursor: pointer;
}
.head .h2 .ier .b3:hover .g {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.head .h2 .ier .b4 {
  background: url(../images/h2.png) no-repeat left top;
  box-sizing: border-box;
  line-height: 26px;
  width: 20px;
  height: 26px;
}
.head .h2 .ier .g {
  position: absolute;
  opacity: 0;
  top: 28px;
  left: -112px;
  box-shadow: 1px 1px 14px #9e9b9a;
  border: 1px solid #9e9b9a;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform: translateY(-300px);
  -moz-transform: translateY(-300px);
  -ms-transform: translateY(-300px);
  -o-transform: translateY(-300px);
  transform: translateY(-300px);
}
.head .h2 .ier .g li {
  width: 150px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  height: 36px;
  line-height: 36px;
  background: url(../images/i3x.png) no-repeat 66px center;
  border-bottom: 1px solid #ccc;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.head .h2 .ier .g li a {
  color: #9e9b9a;
}
.head .h2 .ier .g li:hover {
  background: url(../images/i3.png) no-repeat 66px center;
  -webkit-transform: translateY(4px);
  -moz-transform: translateY(4px);
  -ms-transform: translateY(4px);
  -o-transform: translateY(4px);
  transform: translateY(4px);
}
.head .h2 .ier .g li:hover a {
  color: #3a8eff;
}
.head .h2 .ier .g li:last-child {
  border-bottom: none;
}
.head .h3 {
  width: 39%;
}
.head .h3 p {
  padding-left: 78%;
}
.head .h3 .ier {
  padding-left: 78%;
}
.head .h3 .ier span {
  width: 30px;
  line-height: 14px;
  text-align: center;
}
.head .h3 .ier a:hover {
  color: #3a8eff;
}
.head .h4 {
  width: 22%;
  border: none;
}
.head .h4 ul {
  padding: 34px 0 0 11%;
}
.head .h4 ul li {
  float: left;
  width: 44px;
  height: 44px;
  border-radius: 44px;
  border: 1px solid #a2a09f;
  margin-right: 5%;
}
.head .h4 ul a {
  display: block;
  height: 100%;
  width: 100%;
}
.head .h4 ul .c0 {
  border: none;
  position: relative;
}
.head .h4 ul .c0 a {
  background: url(../images/tx.png) no-repeat;
  overflow: hidden;
}
.head .h4 ul .c0 i {
  position: absolute;
  top: 26px;
  left: 28px;
  background: url(../images/icon.png) no-repeat;
  width: 17px;
  height: 17px;
}
.head .h4 ul .c1 {
  background: url(../images/h2.png) no-repeat center;
}
.head .h4 ul .c2 {
  background: url(../images/h3.png) no-repeat center;
}
.head .h4 ul .c3 {
  background: url(../images/h4.png) no-repeat 28px center;
  margin: 0;
  width: 145px;
  line-height: 44px;
  box-sizing: border-box;
  padding-left: 54px;
}
@media (max-width: 1698px) {
  .head .h3 {
    width: 20%;
  }
  .head .h3 p {
    padding-left: 20%;
  }
  .head .h3 .ier {
    padding-left: 20%;
  }
  .head .h4 {
    width: 41%;
  }
}
@media (max-width: 1536px) {
  .head .h1 p {
    padding-left: 10%;
  }
  .head .h1 .ier {
    padding-left: 10%;
  }
  .head .h2 p {
    padding-left: 10%;
  }
  .head .h2 .ier {
    padding-left: 10%;
  }
}
@media (max-width: 1394px) {
  .head .h1 {
    width: 18%;
  }
  .head .h2 {
    width: 21%;
  }
  .head .h1 p {
    padding-left: 14px;
  }
  .head .h1 .ier {
    padding-left: 14px;
  }
  .head .h2 p {
    padding-left: 14px;
  }
  .head .h2 .ier {
    padding-left: 14px;
  }
}
@media (max-width: 1200px) {
  .head-wrap {
    height: 111px;
  }
  .head-wrap .icon {
    display: block;
  }
  .h1,
  .h2,
  .h3 {
    display: none;
  }
  .head .h4 {
    float: right;
    width: 186px;
  }
  .head .h4 .c3 {
    display: none;
  }
  .nav_bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    z-index: 99;
    display: none;
  }
  .nav-info {
    display: none;
    position: fixed;
    right: 0;
    top: 120px;
    width: 300px;
    height: auto;
    padding-bottom: 12px;
    border: 1px solid #eee;
    background-color: #fff;
    z-index: 999;
    padding-left: 20px;
    box-sizing: border-box;
    padding-right: 20px;
    -webkit-animation: jun1 .5s ease forwards;
    -o-animation: jun1 .5s ease forwards;
    animation: jun1 .5s ease forwards;
  }
  .nav-info .user {
    padding-top: 30px;
  }
  .nav-info .user li {
    float: left;
    width: 44px;
    height: 44px;
    border-radius: 44px;
    margin-right: 12px;
    border: 1px solid #a2a09f;
  }
  .nav-info .user li a {
    display: block;
    height: 100%;
    width: 100%;
  }
  .nav-info .user .l1 {
    border: none;
    position: relative;
  }
  .nav-info .user .l1 a {
    background: url(../images/tx.png) no-repeat;
    overflow: hidden;
  }
  .nav-info .user .l1 i {
    position: absolute;
    top: 26px;
    left: 28px;
    background: url(../images/icon.png) no-repeat;
    width: 17px;
    height: 17px;
  }
  .nav-info .user .l2 a {
    background: url(../images/h2.png) no-repeat center;
  }
  .nav-info .user .l3 a {
    background: url(../images/h3.png) no-repeat center;
  }
  .nav-info dl {
    margin: 20px 0;
  }
  .nav-info .dtx {
    color: #666666;
    font-size: 18px;
    margin-bottom: 12px;
  }
  .nav-info .ddx > a,
  .nav-info .ddx span {
    float: left;
    color: #a2a09f;
    font-size: 14px;
  }
  .nav-info .ddx .a1 {
    background: url(../images/h.png) no-repeat left center;
    padding-left: 33px;
    box-sizing: border-box;
    line-height: 26px;
    width: 76px;
    height: 26px;
  }
  .nav-info .ddx span {
    width: 38px;
    line-height: 20px;
    text-align: center;
  }
  .nav-info .ddx .a2 {
    background: url(../images/h1.png) no-repeat left center;
    padding-left: 21px;
    box-sizing: border-box;
    line-height: 26px;
    width: 76px;
    height: 26px;
  }
  .nav-info .ddx .b1 {
    background: url(../images/hx.png) no-repeat right center;
    box-sizing: border-box;
    line-height: 26px;
    width: 76px;
    height: 26px;
    color: #3a8eff;
  }
  .nav-info .ddx .b2 {
    background: url(../images/h1x.png) no-repeat left center;
    box-sizing: border-box;
    line-height: 26px;
    width: 15px;
    height: 26px;
  }
  .nav-info .ddx .b3 {
    background: url(../images/h5.jpg) no-repeat center;
    box-sizing: border-box;
    line-height: 26px;
    width: 58px;
    height: 26px;
    position: relative;
    float: left;
    cursor: pointer;
  }
  .nav-info .ddx .b4 {
    background: url(../images/h2.png) no-repeat left top;
    box-sizing: border-box;
    line-height: 26px;
    width: 20px;
    height: 26px;
  }
  .nav-info .dp {
    display: none;
  }
  .nav-info .dp p {
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    height: 36px;
    line-height: 36px;
    background: url(../images/i3x.png) no-repeat 66px center;
    border-bottom: 1px solid #ccc;
  }
  .nav-info .dp p a {
    display: block;
  }
  .btnx {
    background: url(../images/h4.png) no-repeat 28px center;
    margin: 0;
    width: 145px;
    line-height: 44px;
    box-sizing: border-box;
    padding-left: 54px;
    height: 44px;
    border-radius: 44px;
    border: 1px solid #a2a09f;
    float: right;
    margin-top: 20px;
  }
}
/*# sourceMappingURL=head.css.map */
