{include file="pageheader_bd.htm"}
{insert_scripts files="../js/utils.js,selectzone_bd.js,validator.js"}

<form enctype="multipart/form-data" action="finds.php" method="post" name="theForm" onsubmit="return validate()" class="layui-form layui-form-pane">
    <div class="layui-tab layui-tab-card">
        <div class="layui-tab-content">
            <!--通用信息-->
            <div class="layui-tab-item layui-show">

                <!-- 类型名称 -->
                <div class="layui-form-item">
                    <label class="layui-form-label">{$lang.require_field} 类型名称</label>
                    <div class="layui-input-block">
                        <input class="layui-input" type="text" autocomplete="off" name="name" value="{$graph.name}">
                    </div>
                </div>



                <!--首字母排序-->
                <div class="layui-form-item">
                    <label class="layui-form-label">{$lang.require_field} 首字母排序</label>
                    <div class="layui-input-block">
                        <select name="en_name" lay-filter="sel_type_id">
                            {foreach from=$en_name item=type}
                            <option value="{$type}" {if $graph.en_name eq $type}selected{/if}>{$type}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>


                <!--是否常用-->
                    <div class="layui-form-item">
                        <label class="layui-form-label">{$lang.require_field} 是否常用</label>
                        <div class="layui-input-block">
                            <input type="radio" name="is_common" value="0" {if $graph.is_common eq 0}checked{/if} title="否">
                            <input type="radio" name="is_common" value="1" {if $graph.is_common eq 1}checked{/if} title="是">
                        </div>
                    </div>
            </div>

            <script type="text/javascript">
                layui.use('form', function(){
                    var form = layui.form(),layer = layui.layer,layedit = layui.layedit,laydate = layui.laydate;
                    form.render(); //更新全部
                });
            </script>

            <div class="button-div">
                <input type="hidden" name="act" value="{$form_action}" />
                <input type="hidden" name="id" value="{$graph.type_id}" />

                <input type="submit" value="{$lang.button_submit}" class="layui-btn" />
                <input type="reset" value="{$lang.button_reset}" class="layui-btn layui-btn-primary" />
            </div>
        </div>
    </div>
</form>


<script language="JavaScript">

var type_id = {$graph.type_id|default:0};
var elements  = document.forms['theForm'].elements;
var sz        = new SelectZone(1, elements['source_select'], elements['target_select'], '');

{literal}
onload = function()
{
  // 开始检查订单
  startCheckOrder();
}

function validate()
{
  var validator = new Validator('theForm');
  {if $graph.type_id >= 0}
    validator.isNullOption('type_id','没有选择分类');
  {/if}
{/literal}

{literal}

  return validator.passed();
}

document.getElementById("tabbar-div").onmouseover = function(e)
{
    var obj = Utils.srcElement(e);

    if (obj.className == "tab-back")
    {
        obj.className = "tab-hover";
    }
}

document.getElementById("tabbar-div").onmouseout = function(e)
{
    var obj = Utils.srcElement(e);

    if (obj.className == "tab-hover")
    {
        obj.className = "tab-back";
    }
}

document.getElementById("tabbar-div").onclick = function(e)
{
    var obj = Utils.srcElement(e);

    if (obj.className == "tab-front")
    {
        return;
    }
    else
    {
        objTable = obj.id.substring(0, obj.id.lastIndexOf("-")) + "-table";

        var tables = document.getElementsByTagName("table");
        var spans  = document.getElementsByTagName("span");

        for (i = 0; i < tables.length; i++)
        {
            if (tables[i].id == objTable)
            {
                tables[i].style.display = (Browser.isIE) ? "block" : "table";
            }
            else
            {
                tables[i].style.display = "none";
            }
        }
        for (i = 0; spans.length; i++)
        {
            if (spans[i].className == "tab-front")
            {
                spans[i].className = "tab-back";
                obj.className = "tab-front";
                break;
            }
        }
    }
}
{/literal}

</script>
{include file="pagefooter.htm"}