{include file="pageheader.htm"}

<form method="post" action="font_type.php" name="theForm"  onsubmit="return validate()" class="layui-form layui-form-pane">
<div class="layui-tab-content">
    <div class="layui-tab-item layui-show">
        <!--字体分类名称-->
        <div class="layui-form-item">
            <label class="layui-form-label">{$lang.require_field} 字体分类名称</label>
            <div class="layui-input-block">
                <input class="layui-input" type="text" placeholder="请输入字体分类名称" autocomplete="off" name="type_name" value="{$type.type_name|escape}" >
            </div>
        </div>
        <div class="layui-form-item" style="display:none;">
            <label class="layui-form-label">{$lang.require_field} 英文缩写名称</label>
            <div class="layui-input-block">
                <input class="layui-input" type="text" placeholder="请输入字体分类英文缩写名称" autocomplete="off" name="type_short_name" value="{$type.type_short_name|escape}" >
            </div>
        </div>
        <!--上级分类-->
        <div class="layui-form-item">
            <label class="layui-form-label">
                上级分类
            </label>
            <div class="layui-input-block">
                <select name="parent_id" lay-filter="sel_parent_id" {if $disabled }disabled="disabled"{/if} >
                    <option value="0">顶级分类</option>
                    {$type_select}
                </select>
            </div>
        </div>
        <!--排序-->
        <div class="layui-form-item">
            <label class="layui-form-label">排序</label>
            <div class="layui-input-block">
                <input class="layui-input" type="text" placeholder="请输入排序号" autocomplete="off" name="sort_order" {if $type.sort_order}value='{$type.sort_order}'{else} value="50"{/if} >
            </div>
        </div>
        <!--是否显示-->
        <div class="layui-form-item">
            <label class="layui-form-label">是否显示</label>
            <div class="layui-input-block">
                <input type="radio" name="is_show" value="1" {if $type.is_show eq 1} checked="true"{/if} title="是" />
                <input type="radio" name="is_show" value="0" {if $type.is_show eq 0} checked="true"{/if} title="否" />
            </div>
        </div>
        <p class="btn_padding_left">
            <input type="submit" class="layui-btn" value="{$lang.button_submit}" />
            <input type="reset" class="layui-btn layui-btn-primary" value="{$lang.button_reset}" />
            <input type="hidden" name="act" value="{$form_action}" />
            <input type="hidden" name="id" value="{$type.type_id}" />
            <input type="hidden" name="old_type_name" value="{$type.type_name}" />
        </p>

    </div>
</div>
</form>

{insert_scripts files="../js/utils.js,validator.js"}
{literal}
<script language="JavaScript">
<!--
/**
 * 检查表单输入的数据
 */
function validate()
{
    validator = new Validator("theForm");
    validator.required("type_name",  '没有输入字体分类名称');
    // validator.required("type_short_name",  '没有输入英文缩写名称');
    {if $form_action eq 'insert'}
    validator.isNullOption('parent_id','没有选择上级分类');
    {/if}
    return validator.passed();
}

/**
 * 选取上级分类时判断选定的分类是否合法
 */
function typeChanged()
{
  var obj = document.forms['theForm'].elements['parent_id'];

  type_flag = obj.options[obj.selectedIndex].getAttribute('type_flag');
  if (type_flag == undefined)
  {
    type_flag = 1;
  }

  if ((obj.selectedIndex > 0) && (type_flag == 2))
  {
    alert('不允许添加子分类');
    obj.selectedIndex = 0;
    return false;
  }

  return true;
}

onload = function()
{
    // 开始检查订单
    startCheckOrder();
}
//-->
</script>
{/literal}

<script type="text/javascript">
    layui.use('form', function(){
        var form = layui.form(),layer = layui.layer,layedit = layui.layedit,laydate = layui.laydate;
        form.render(); //更新全部
        //监听指定开关
        form.on('select(sel_parent_id)', function(data){
            typeChanged();
        });
    });
</script>
{include file="pagefooter.htm"}