{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
<div class="form-div">
  <form action="javascript:searchField()" name="searchForm" class="layui-form">
    <img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" style="float:left;margin-top:10px;" />
    发送者&nbsp;
    <span style="position:relative"><input type="text" name="user_name" id="user_name" placeholder="发送者" /></span>
    接收者&nbsp;
    <span style="position:relative"><input type="text" name="receive_user_name" id="receive_user_name" placeholder="接收者" /></span>
    消息内容&nbsp;
    <span style="position:relative"><input type="text" name="keyword" id="keyword" placeholder="内容" /></span>
    <input type="submit" value="{$lang.button_search}" class="layui-btn" />
  </form>
</div>
<form method="POST" action="personal_letter.php" name="listForm" class="layui-form">
<!-- start letter list -->
<div class="list-div" id="listDiv">
{/if}
<table cellspacing='1' cellpadding='3' id='list-table' class="layui-table">
  <tr>
    <th>
      <input type="checkbox" lay-filter="sel_all_checkboxes">
      <a href="javascript:listTable.sort('msg_id'); ">编号</a>{$sort_msg_id}
    </th>
    <th><a href="javascript:listTable.sort('user_name'); ">发送人</a>{$sort_user_name}</th>
    <th><a href="javascript:listTable.sort('receive_user_name'); ">接收人</a>{$sort_receive_user_name}</th>
    <th><a href="javascript:listTable.sort('msg_content'); ">消息内容</a>{$sort_msg_content}</th>
    <th><a href="javascript:listTable.sort('msg_time'); ">发送时间</a>{$sort_msg_time}</th>
    <th><a href="javascript:listTable.sort('is_read'); ">是否已读</a>{$sort_is_read}</th>
    <th><a href="javascript:listTable.sort('msg_status'); ">状态</a>{$sort_msg_status}</th>
    <th>操作</th>
  </tr>
  {foreach from=$letter_list item=list}
  <tr>
    <td><span><input name="checkboxes[]" type="checkbox" value="{$list.msg_id}" />{$list.msg_id}</span></td>
    <td>{$list.user_name|escape:html}</td>
    <td>{$list.receive_user_name}</td>
    <td>{$list.msg_content}</td>
    <td>{$list.msg_time}</td>
    <td align="center">
      <span><img src="images/{if $list.is_read eq 1}yes{else}no{/if}.gif" onclick="listTable.toggle(this, 'toggle_read', {$list.msg_id})" /></span>
    </td>
    <td>{if $list.msg_status eq 1}已举报{else}正常{/if}</td>
    <td align="center" nowrap="true">
      <span>
        <a href="javascript:;" onclick="listTable.remove({$list.msg_id}, '您确认要删除这条记录吗？')" title="移除"><img src="images/icon_drop.gif" border="0" height="16" width="16"></a>
       </span>
    </td>
   </tr>
   {foreachelse}
    <tr><td class="no-records" colspan="10">您现在还没有任何项目</td></tr>
  {/foreach}
  <tr>&nbsp;
    <td align="right" nowrap="true" colspan="8">{include file="page.htm"}</td>
  </tr>
</table>

{if $full_page}
</div>
<div>
  <input type="hidden" name="act" value="batch" />
  <select name="type" id="selAction" lay-filter="selAction">
    <option value="">请选择...</option>
    <option value="button_remove">批量删除</option>
    <option value="button_unread">批量未读</option>
    <option value="button_read">批量已读</option>
  </select>

  <input type="submit" value="确定" id="btnSubmit" name="btnSubmit" class="layui-btn"  style="margin-left:10px;"/>
</div>
</form>
<!-- end type list -->
<script type="text/javascript" language="JavaScript">
  listTable.recordCount = {$record_count};
  listTable.pageCount = {$page_count};

  {foreach from=$filter item=item key=key}
  listTable.filter.{$key} = '{$item}';
  {/foreach}
  {literal}

  onload = function()
  {
    // 开始检查订单
    startCheckOrder();
  }

 /* 搜索领域 */
 function searchField()
 {
    listTable.filter.keyword = Utils.trim(document.forms['searchForm'].elements['keyword'].value);
    listTable.filter.user_name = Utils.trim(document.forms['searchForm'].elements['user_name'].value);
    listTable.filter.receive_user_name = Utils.trim(document.forms['searchForm'].elements['receive_user_name'].value);
    listTable.filter.page = 1;
    listTable.loadList();
 }

 {/literal}
</script>

<script type="text/javascript">
    layui.use('form', function(){
        var form = layui.form();
        form.render(); //更新全部

        form.on('checkbox(sel_all_checkboxes)', function(data){
            listTable.selectAll(this, "checkboxes");
            form.render(); //更新全部
        });

    });
</script>
{include file="pagefooter.htm"}
{/if}
