{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
<div class="form-div">
  <form action="javascript:searchArticle()" name="searchForm" class="layui-form">
    <img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" style="float:left;margin-top:10px;" />
    {$lang.name} <input type="text" name="keyword" id="keyword" />
    <input type="submit" value="{$lang.button_search}" class="layui-btn" />
  </form>
</div>

<form method="POST" action="originality_list.php?act=batch_remove" name="listForm" class="layui-form">
<!-- start cat list -->
<div class="list-div" id="listDiv">
{/if}

<table cellspacing='1' cellpadding='3' id='list-table' class="layui-table">
  <tr>
    <th><input type="checkbox" lay-filter="sel_all_checkboxes">
      <a href="javascript:listTable.sort('id'); ">ID</a></th>
    <th><a href="javascript:listTable.sort('name'); ">{$lang.name}</a></th>
    <th><a href="javascript:listTable.sort('collect_start_time'); ">{$lang.lab_collect_time}</a></th>
    <th><a href="javascript:listTable.sort('vote_start_time'); ">{$lang.lab_vote_time}</a></th>
    <th><a href="javascript:listTable.sort('publicity_start_time'); ">{$lang.lab_publicity_time}</a></th>
    <th><a href="javascript:listTable.sort('is_show'); ">{$lang.is_show}</a></th>
    <th><a href="javascript:listTable.sort('sort_order'); ">{$lang.sort_order}</a></th>
    <th><a href="javascript:listTable.sort('add_time'); ">{$lang.add_time}</a></th>
    <th>{$lang.handler}</th>
  </tr>
  {foreach from=$originality_list item=list}
  <tr>
    <td><span><input name="checkboxes[]" type="checkbox" value="{$list.id}" />{$list.id}</span></td>
    <td class="first-cell"><span onclick="javascript:listTable.edit(this, 'edit_name', {$list.id})">{$list.name|escape:html}</span></td>
    <td class="first-cell"><span>{$list.collect_start_time}-{$list.collect_end_time}</span></td>
    <td class="first-cell"><span>{$list.vote_start_time}-{$list.vote_end_time}</span></td>
    <td class="first-cell"><span>{$list.publicity_start_time}</span></td>
    <td align="center"><span><img src="images/{if $list.is_show eq 1}yes{else}no{/if}.gif" onclick="listTable.toggle(this, 'toggle_show', {$list.id})" /></span></td>
    <td class="first-cell"><span>{$list.sort_order}</span></td>
    <td align="center"><span>{$list.date}</span></td>
    <td align="center" nowrap="true"><span>
      <a href="originality_list.php?act=edit&id={$list.id}" title="{$lang.edit}"><img src="images/icon_edit.gif" border="0" height="16" width="16" /></a>&nbsp;
      <a href="originality_already.php?act=list&id={$list.id}" title="查看当前赛季参赛作品列表"><img src="images/icon_js.gif" border="0" height="16" width="16" /></a>&nbsp;
        <a href="javascript:;" onclick="listTable.remove({$list.id}, '{$lang.drop_confirm}')" title="{$lang.remove}"><img src="images/icon_drop.gif" border="0" height="16" width="16"></a>
    </span>
    </td>
   </tr>
   {foreachelse}
    <tr><td class="no-records" colspan="10">{$lang.no_originality}</td></tr>
  {/foreach}
  <tr>&nbsp;
    <td align="right" nowrap="true" colspan="10">{include file="page.htm"}</td>
  </tr>
</table>



{if $full_page}
</div>

<div>
  <input type="hidden" name="act" value="batch" />
  <select name="type" id="selAction" lay-filter="selAction">
    <option value="">{$lang.select_please}</option>
    <!-- <option value="button_remove">{$lang.button_remove}</option> -->
    <option value="button_hide">{$lang.button_hide}</option>
    <option value="button_show">{$lang.button_show}</option>
  </select>
  

  <input type="submit" value="{$lang.button_submit}" id="btnSubmit" name="btnSubmit" class="layui-btn"  style="margin-left:10px;"/>
</div>
</form>
<!-- end cat list -->
<script type="text/javascript" language="JavaScript">
  listTable.recordCount = {$record_count};
  listTable.pageCount = {$page_count};

  {foreach from=$filter item=item key=key}
  listTable.filter.{$key} = '{$item}';
  {/foreach}
  {literal}

	/**
   * @param: bool ext 其他条件：用于转移分类
   */
  function confirmSubmit(frm, ext)
  {
      if (frm.elements['type'].value == 'button_remove')
      {
          return confirm(drop_confirm);
      }
      else if (frm.elements['type'].value == 'not_on_sale')
      {
          return confirm(batch_no_on_sale);
      }
      else if (frm.elements['type'].value == 'move_to')
      {
          ext = (ext == undefined) ? true : ext;
          return ext && frm.elements['target_cat'].value != 0;
      }
      else if (frm.elements['type'].value == '')
      {
          return false;
      }
      else
      {
          return true;
      }
  }
	 function changeAction()
  {
		
      var frm = document.forms['listForm'];

      // 切换分类列表的显示
      //frm.elements['target_cat'].style.display = frm.elements['type'].value == 'move_to' ? '' : 'none';
      frm.elements['type'].value == 'move_to' ? $('#target_cat_box').show() : $('#target_cat_box').hide();

      if (!document.getElementById('btnSubmit').disabled &&
          confirmSubmit(frm, false))
      {
          frm.submit();
      }

      var form = layui.form();
      form.render(); //更新全部
  }

 /* 搜索文章 */
 function searchArticle()
 {
    listTable.filter.keyword = Utils.trim(document.forms['searchForm'].elements['keyword'].value);
    listTable.filter.page = 1;
    listTable.loadList();
 }

 {/literal}
</script>

<script type="text/javascript">
    layui.use('form', function(){
        var form = layui.form();
        form.render(); //更新全部

        form.on('checkbox(sel_all_checkboxes)', function(data){
            listTable.selectAll(this, "checkboxes");
            form.render(); //更新全部
        });  

        form.on('select(selAction)', function(data){
            changeAction();
        });  

    });
</script>
{include file="pagefooter.htm"}
{/if}
