{include file="pageheader.htm"}

<form action="supplier_tag.php" method="post" name="theForm" onsubmit="return validate()" class="layui-form layui-form-pane">
<div class="layui-tab-content">
    <div class="layui-tab-item layui-show">
        <!--标签名称-->
        <div class="layui-form-item">
            <label class="layui-form-label">{$lang.require_field} {$lang.tag_name}</label>
            <div class="layui-input-block">
                <input type="text" name="tag_name" value="{$tag.tag_name}" class="layui-input" />
            </div>
        </div>
        <!--排序-->
        <div class="layui-form-item">
            <label class="layui-form-label">{$lang.require_field} {$lang.sort_order}</label>
            <div class="layui-input-block">
                <input type="text" name="sort_order" value="{$tag.sort_order}" class="layui-input" />
            </div>
        </div>
        <!--首页推荐-->
        <div class="layui-form-item">
            <label class="layui-form-label">{$lang.is_groom}</label>
            <div class="layui-input-block">
                <input type="radio" name="is_groom"  value="1" {if $tag.is_groom neq 0} checked="true"{/if} title="{$lang.yes}" />
                <input type="radio" name="is_groom"  value="0" {if $tag.is_groom eq 0} checked="true"{/if} title="{$lang.no}" />
            </div>
        </div>
        <p class="btn_padding_left">
            <input type="submit" class="layui-btn" value="{$lang.button_submit}" />
            <input type="reset" class="layui-btn layui-btn-primary" value="{$lang.button_reset}" />
            <input type="hidden" name="act" value="{$form_action}" />
            <input type="hidden" name="id" value="{$tag.tag_id}" />
        </p>

    </div>
</div>
</form>

{insert_scripts files="../js/utils.js,validator.js"}
{literal}
<script language="JavaScript">
<!--
document.forms['theForm'].elements['tag_name'].focus();

onload = function()
{
  // 开始检查订单
  startCheckOrder();
}

/**
 * 检查表单输入的数据
 */
function validate()
{

    validator = new Validator("theForm");
    validator.required('tag_name', tag_name_empty);
    validator.isInt('sort_order', sort_order_invalid, true);
    return validator.passed();
}


//-->
</script>
{/literal}

<script type="text/javascript">
    layui.use('form', function(){
        var form = layui.form();
        form.render(); //更新全部 
    });
</script>
{include file="pagefooter.htm"}