<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no, email=no" />
<link href="__CSSPC__/style.css" type="text/css" rel="stylesheet" />
<link href="__CSSPC__/jquery.mCustomScrollbar.css" type="text/css" rel="stylesheet" />
<title>{$site_title}</title>
<meta name="keywords" content="{$site_keywords}">
<meta name="description" content="{$site_description}">
<style>
    .myot_p51_list.myot_p50_list { padding: 60px 6.29% 0 6.29%; }
</style>
</head>
<body>
<!--header start-->
<div class="header first second fixed">
    {include file="public/nav" /}
    {include file="public/user_right" /}
</div>
<div class="float_right"></div>
<!--header end-->
<!--main start-->
<div class="mem_main bg_f5f5f5 clearfix">
    {include file="public/user_left" /}
    <div class="mem_right">
        <div class="mem_rtit">我的设计库</div>
        <div class="mem_rcon myot_part5">
            <ul class="not_rlist mb0">
                <li {if !$type && $status == -1}class="on"{/if}><a href="{:url('user/design_library')}">全部</a></li>
                <li {if $type == 2}class="on"{/if}><a href="{:url('user/design_library', array('type' => 2))}">参赛</a></li>
                <li {if $status == 4}class="on"{/if}><a href="{:url('user/design_library', array('status' => 4))}">出售中</a></li>
                <li {if $status == 2}class="on"{/if}><a href="{:url('user/design_library', array('status' => 2))}">出售申请中</a></li>
                <li {if $status == 5}class="on"{/if}><a href="{:url('user/design_library', array('status' => 5))}">可出售</a></li>
            </ul>
            <ul class="myot_p51_list myot_p50_list clearfix">
                {if !$type && $status == -1}
                    <li class="first"></li>
                {/if}
                {if $diy_list.list}
                    {volist name="diy_list.list" id="vo"}
                        <li>
                            <i class="del"></i>
                            <div class="pic"><img class="lazybg" data-lazyload-img="{$webUrl}{$vo.design_img_t}"></div>
                            <div class="txt">
                                <h2>{$vo.diy_title}</h2>
                            </div>
                            <div class="btn_box">
                                <a href="" class="modify">编辑</a>
                                {if condition="$vo.type eq 1"}
                                    <a href="javascript:void(0);" class="buy" data-id="{$vo.goods_id}">加入购物袋</a>
                                {/if}
                            </div>
                        </li>
                    {/volist}
                {else}
                    {if $type == 2 || $status != -1}
                        <li style="position: unset;margin: 0;height: auto;float: none;width: 100%;border: none;background: none;">没有找到任何设计</li>
                    {/if}
                {/if}
            </ul>
            <i class="base-load"></i>
        </div>
    </div>
</div>
<div class="mprev_bg">
    <div class="mprev_wrap no_choose">
        <i class="close"></i>
        <h2>T恤浏览</h2>
        <div class="mprev_pic">
            <img src="__IMGPC__/pic32.jpg">
        </div>
    </div>
</div>

<!--main end-->
<!--footer start-->
{include file="public/footer" /}
<!--footer end-->
</body>
</html>
<script src="__JSPC__/jquery.js"></script>
<script src="__JSPC__/ifie8.js"></script>
<script src="__JSPC__/lazybg.js"></script>
<script src="__JSPC__/layer.js"></script>
<script src="__JSPC__/js.js"></script>
<script src="__JSPC__/slick.js"></script>
<script src="__JSPC__/selectordie.min.js"></script>
<script src="__JSPC__/jquery.placeholder.min.js"></script>
<script src="__JSPC__/jquery.dotdotdot.min.js"></script>
<script src="__JSPC__/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="__JSPC__/jquery.easing.1.3.js"></script>
<script src="__DIYPC__/js/common.js"></script>
<script>
    $(function() { //加入购物车动画
        var cart_is = true;
        $("body").on('click', '.cart_abtn', function(event) { 
            var goods_id = $('#goods_id').val();
            addToCart(goods_id, 1, event);
            /*if(cart_is == false){ return false; }
            var scrollTop = $(window).scrollTop();
            cart_is = false;
            $('.cart_abtn i').stop(true,true).css({
                "left": event.pageX,
                "top": event.pageY - scrollTop,
                "opacity": "1",
                "z-index": "9999"
            }).animate({
                "left": $('.cart').offset().left,
                "top": $('.cart').offset().top - scrollTop,
                "margin": "0",
                "width": "50px",
                "height": "50px",
                "opacity": "0",
                "z-index": "-1"
            }, 1500, 'easeOutQuint',function(){
                $('.header .state .cart').text(parseInt($('.header .state .cart').text()) + 1);
                layer.msg('成功添加到购物袋！', {
                    time: 1000,
                },function(){
                    cart_is = true;
                });
            });*/
        });
    });
</script>
<script>
    $(function(){
        if($('.myot_p50_list .first').length <= 0){
            $('.myot_p50_list li:first').css('background', 'none');
        }

        $('body').on('click', '.myot_p50_list li .del', function() {
            var _this = $(this);
            layer.confirm('确定删除该T恤？', {
                title: false,
                closeBtn: 0,
                btn: ['取 消','确 定'] //按钮
            }, function(){
                layer.closeAll();
            }, function(){
                _this.parents('li').remove();
            });
        });

        //显示浏览
        $('body').on('click', '.myot_p51_list li .pic', function() {
            $('.mprev_bg .mprev_pic img').attr('src', $(this).find('img').data('lazyload-img'));
            $('.mprev_bg').fadeIn();
            /*$('.mprev_type > div').each(function(index, el) {
                $(this).find('label input').prop("checked",false);
                $(this).find('label').eq(0).addClass('on').siblings().removeClass('on');
                $(this).find('label').eq(0).find('input').prop("checked",true);
            });*/
        });

        //关闭浏览
        $('body').on('click', '.mprev_wrap .close', function() {
            $('.mprev_bg').fadeOut();
        });

        //切换浏览里的款式颜色
        $('body').on('change', '.mprev_type label input', function() {
            if($(this).prop("checked") == true){
                $(this).parents("label").addClass('on').siblings().removeClass('on');
            }else{
                $(this).parents("label").removeClass('on');
            }
        });

        //加入购物车弹窗切换款式颜色型号
        $(document).on('change', '.cart_wrap label input', function() {
            if($(this).prop("checked") == true){
                $(this).parents("label").addClass('on').siblings().removeClass('on');
            }else{
                $(this).parents("label").removeClass('on');
            }
        });

        //加入购物车弹窗单件或多件
        $('.cart_wrap .box1').find('.t2_wrap').slideDown(0);
        $('body').on('click', '.cart_wrap .bar', function() {
            var eq = $(this).parents('.box').index();
            $(this).parents('.box').addClass('on').siblings().removeClass('on');
            $(this).parents('.box').siblings().find('.t2_wrap').stop(true,true).slideUp(300);
            $(this).parents('.box').find('.t2_wrap').stop(true,true).slideDown(300);
            checkType();
        });


        //详情右边改变数量
        $(document).on('click', '.t2_wrap .btn_a', function() {
            var num = parseInt($(this).parents('.num_box').find('.btn_input').val());
            var max = parseInt($(this).parents('.num_box').attr("data-max"));
            if (num >= max) { return false; }
            num++;
            $(this).parents('.num_box').find('.btn_input').val(num);
        });
        $(document).on('click', '.t2_wrap .btn_m', function() {
            var num = parseInt($(this).parents('.num_box').find('.btn_input').val());
            if (parseInt(num) <= 1 || num == "") {
                num = 1;
            } else {
                num--;
            }
            $(this).parents('.num_box').find('.btn_input').val(num);
        });
        $('body').on('blur', '.btn_input', function() {
            var number = parseInt($(this).val());
            var max = parseInt($(this).parents('.num_box').attr("data-max"));
            var re_num = /^[0-9]*$/;
            if (!number) {
                $(this).val("1");
            } else if (!re_num.test(number)) {
                $(this).val("1");
            } else if (number <= 1) {
                $(this).val("1");
            } else if (number >= max) {
                $(this).val(max);
            }
        });

        $('body').on('click', '.myot_p51_list a.buy', function() {
            index = layer.load();
            id = $(this).data('id');
            ajaxCall('{:url("User/get_goods_attr")}', {goods_id: id}, respondGoodsAttr);
        });



        $('body').on('click', '.cart_wrap .del', function() {
            $('.cart_bg').fadeOut();
        });
    });

    function respondGoodsAttr(data)
    {
        layer.close(index);
        $('.cart_bg').remove();
        $('.mem_main').after(data);
        $('.cart_bg').fadeIn();
        $('.cart_bg .box2 .bar').click();
    }

    function checkType(){
        if($('.cart_wrap .wrap .box2').hasClass('on') && $('.box2 .t2_wrap .cart_box').length == 1){
            $('.cart_wrap').addClass('type1').removeClass('type2');
        }else{
            $('.cart_wrap').removeClass('type1');
        }
        if($('.box2 .t2_wrap .cart_box').length >= 2){
            $('.cart_wrap').addClass('type2').removeClass('type1');
            $('.cart_wrap.type2 .t2_wrap').mCustomScrollbar({
                axis: "y",
                scrollInertia: 100,
                scrollButtons: {
                    enable: true,
                    scrollSpeed: 20
                },
                theme: "3d"
            });
        }else{
            $('.cart_wrap').removeClass('type2');
        }
        if($('.cart_wrap .wrap .box1').hasClass('on')){
            $('.cart_wrap').removeClass('type1 type2');
        }
    }
</script>
<script>
    //列表下拉刷新
    var page = 2;//翻页
    var p_load = false;
    $(window).scroll(function () {
        var winH = $(window).height();
        var pageH = $(document.body).height();
        var scrollT = $(window).scrollTop();
        var page_size ="{$diy_list.pager.page_size}";//多少条，用于弹框统计当前列表条数
        var record_count = parseInt("{if empty($diy_list.pager.record_count)}0{else}{$diy_list.pager.record_count}{/if}");
        // 如果滚动条到达底部就获取新数据追加到容器
        if ($(document).scrollTop() >= $(document).height() - $(window).height() && p_load == false) {
            p_load = true;
            if ($('.mem_main .myot_part5 .myot_p50_list').children("li").length >= record_count) {
                setTimeout(function () {
                    p_load = false;
                    // layer.msg("没有更多数据了");
                }, 2000);
                return false;
            }
            $('.base-load').addClass('show');
            $.ajax({
                type: 'GET',
                url: "{:url('user/design_library')}",
                data: {is_ajax: 1, page: page},
                dataType: 'json',
                success: function (result) {
                    $('.base-load').removeClass('show');
                    page++;

                    $('.myot_part5 .myot_p50_list').append(result.html);
                    p_load = false;
                    $('.lazybg').lazyload({d: 300, r: 250});
                }
            });
        }
    });
</script>