<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no, email=no" />
<link href="__CSSPC__/style.css" type="text/css" rel="stylesheet" />
<link href="__CSSPC__/jquery.mCustomScrollbar.css" type="text/css" rel="stylesheet" />
<title>{$site_title}</title>
<meta name="keywords" content="{$site_keywords}">
<meta name="description" content="{$site_description}">
</head>
<body>
<!--header start-->
<div class="header first second fixed">
	{include file="public/nav" /}
	{include file="public/user_right" /}
</div>
<div class="float_right"></div>
<!--header end-->
<!--main start-->
<div class="mem_main bg_f5f5f5 clearfix">
	<div class="mem_left p_l1">
		<div class="head_box tc bg_white">
			<div class="grade_box">
                <i class="grade_i"></i>
                <div class="p_level">
                    <a href="#" class="on">LV1</a>
                    <a href="#">LV2</a>
                    <a href="#">LV3</a>
                    <a href="#">LV4</a>
                    <a href="#">LV5</a>
                    <a href="#">LV6</a>
                </div>
            </div>
            <div class="avatar d_ib">
                <img class="lazybg" data-lazyload-img="__IMGPC__/avatar6.jpg">
                <h2>Anna<span>Less is more</span></h2>
            </div>
            <dl>
            	<dd><span>地区</span><font>广州</font></dd>
            	<dd><span>学校</span><font>广州美术学院</font></dd>
                <dd><span>个人链接</span><font><a href="">www.annababy.com</a></font></dd>
            </dl>
        </div>

        <dl class="p_l1_con p_l1_con1">
            <dd class="fix"><span>领域</span><font>UI, 交互设计师</font></dd>
        </dl>

        <div class="p_l1_con p_l1_con2">
            <dd class="fix"><a href="">
                <span class="p_i1">粉丝</span>
                <font>1234</font>
            </a></dd>
            <dd class="fix">
                <span class="p_i2">人气</span>
                <font>888</font>
            </dd>
            <dd class="fix">
                <span class="p_i3">被收藏</span>
                <font>888</font>
            </dd>
        </div>

        <dl class="p_l1_con p_l1_con1 p_l1_con3">
            <dd class="fix"><span>总销量</span><font>88</font></dd>
            <dd class="fix"><a href=""><span>排行榜</span><font>11</font></a></dd>
        </dl>

        <dl class="p_l1_con p_l1_con4">
            <dd class="fix"><a href=""><span>最新动态</span><font>23</font></a></dd>
            <dd class="fix"><a href=""><span>关注的人</span><font class="gray">23</font></a></dd>
            <dd class="fix"><a href=""><span>话题</span><font class="gray">23</font></a></dd>
            <dd class="fix"><a href=""><span>圈子</span><font>2</font></a></dd>
        </dl>

        <div class="p_l1_con5">
            <div class="ipro_share">
                <div class="icon_bg"><span class="icon"></span></div>
                <div class="share_box">
                    <a href="" class="weibo"></a>
                    <a href="" class="wechat"></a>
                    <a href="" class="qq"></a>
                    <a href="" class="ins"></a>
                    <a href="" class="talk"></a>
                    <a href="" class="facebook"></a>
                    <a href="" class="twitter"></a>
                </div>
            </div>
        </div>
	</div>

	<div class="mem_right p_right">
		<div class="mem_rcon fv_part10 p_r1">
            <div class="fv_p10_top clearfix">
                <ul class="not_rlist fl">
                    <li class="on"><a href="我的主页.html">OTEE (10)</a></li>
                    <li><a href="我的主页-作品集.html">作品集 (23)</a></li>
                </ul>
                <div class="fv_p10_tr fr p_r1tr">
                    <ul>
                        <li><span>所有创意领域</span>
                            <div class="p_nav p_w330 fix">
                                <dl class="fl">
                                    <h2>常用</h2>
                                    <dd class="on"><a href="#">所有创意领域</a></dd>
                                    <dd><a href="#">插图</a></dd>
                                    <dd><a href="#">动态图像设计</a></dd>
                                    <dd><a href="#">工业设计</a></dd>
                                    <dd><a href="#">建筑</a></dd>
                                    <dd><a href="#">交互设计</a></dd>
                                    <dd><a href="#">品牌推广</a></dd>
                                    <dd><a href="#">摄影</a></dd>
                                    <dd><a href="#">时尚</a></dd>
                                    <dd><a href="#">图形设计</a></dd>
                                    <dd><a href="#">艺术指导</a></dd>
                                    <dd><a href="#">用户界面</a></dd>
                                    <dd><a href="#">Web 设计</a></dd>
                                </dl>

                                <dl class="fr">
                                    <h2>按字母顺序</h2>
                                    <dd><h4>B</h4></dd>
                                    <dd><a href="#">布景</a></dd>
                                    <dd><a href="#">编程</a></dd>
                                    <dd><a href="#">包装</a></dd>
                                    <dd><h4>C</h4></dd>
                                    <dd><a href="#">产品设计</a></dd>
                                    <dd><a href="#">创业学</a></dd>
                                    <dd><a href="#">插图</a></dd>
                                    <dd><a href="#">产品设计</a></dd>
                                    <dd><a href="#">创业学</a></dd>
                                    <dd><a href="#">插图</a></dd>
                                    <dd><h4>D</h4></dd>
                                    <dd><a href="#">产品设计</a></dd>
                                    <dd><a href="#">创业学</a></dd>
                                    <dd><a href="#">插图</a></dd>
                                    <dd><a href="#">产品设计</a></dd>
                                    <dd><a href="#">创业学</a></dd>
                                    <dd><a href="#">插图</a></dd>
                                </dl>
                            </div>
                        </li>
                        <li><span>价格</span>
                            <div class="p_nav p_nav2 fix">
                                <dl class="fl">
                                    <dd><a href="">￥ 99</a></dd>
                                    <dd><a href="">￥ 139</a></dd>
                                    <dd><a href="">￥ 199</a></dd>
                                    <dd><a href="">￥ 139</a></dd>
                                    <dd><a href="">￥ 299</a></dd>
                                    <dd><a href="">￥ 359</a></dd>
                                </dl>
                            </div>
                        </li>
                        <li><span>款式</span>
                            <div class="p_nav p_nav2 fix">
                                <dl class="fl">
                                    <dd class="on"><a href="#">男</a></dd>
                                    <dd><a href="#">女</a></dd>
                                </dl>
                            </div>
                        </li>
                        <li><span>最新发布</span>
                            <div class="p_nav p_nav2 fix">
                                <dl class="fl">
                                    <dd class="on"><a href="#">最新发布</a></dd>
                                    <dd><a href="#">最多推荐</a></dd>
                                    <dd><a href="#">最多收藏</a></dd>
                                    <dd><a href="#">最多评论</a></dd>
                                </dl>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="fv_p10_bot">
                <ul class="fv_p10_blist clearfix">
                    <li class="i_pli">
                        <div class="before">
                            <div class="clo"><a href="">
                                <img class="lazybg" data-lazyload-img="__IMGPC__/micon44.png">
                            </a></div>
                            <div class="line"></div>
                            <div class="info">
                                <span class="view">23</span>
                                <span class="zan">23</span>
                            </div>
                        </div>
                        <div class="after" style="display: block;">
                            <div class="af_top tc">
                                <h2 class="dot">T恤名称</h2>
                            </div>
                            <div class="af_bot tc">
                                <h2>￥<em>300</em></h2>
                                <div class="af_bar"><i style="width: 80%;"></i></div>
                                <div class="info">
                                    <p>限量 79/99</p>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="i_pli">
                        <div class="before">
                            <div class="clo"><a href="">
                                <img class="lazybg" data-lazyload-img="__IMGPC__/micon44.png">
                            </a></div>
                            <div class="line"></div>
                            <div class="info">
                                <span class="view">23</span>
                                <span class="zan">23</span>
                            </div>
                        </div>
                        <div class="after" style="display: block;">
                            <div class="af_top tc">
                                <h2 class="dot">T恤名称</h2>
                            </div>
                            <div class="af_bot tc">
                                <h2>￥<em>300</em></h2>
                                <div class="af_bar"><i style="width: 80%;"></i></div>
                                <div class="info">
                                    <p>限量 79/99</p>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="i_pli">
                        <div class="before">
                            <div class="clo"><a href="">
                                <img class="lazybg" data-lazyload-img="__IMGPC__/micon44.png">
                            </a></div>
                            <div class="line"></div>
                            <div class="info">
                                <span class="view">23</span>
                                <span class="zan">23</span>
                            </div>
                        </div>
                        <div class="after" style="display: block;">
                            <div class="af_top tc">
                                <h2 class="dot">T恤名称</h2>
                            </div>
                            <div class="af_bot tc">
                                <h2>￥<em>300</em></h2>
                                <div class="af_bar"><i style="width: 80%;"></i></div>
                                <div class="info">
                                    <p>限量 79/99</p>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="i_pli">
                        <div class="before">
                            <div class="clo"><a href="">
                                <img class="lazybg" data-lazyload-img="__IMGPC__/micon44.png">
                            </a></div>
                            <div class="line"></div>
                            <div class="info">
                                <span class="view">23</span>
                                <span class="zan">23</span>
                            </div>
                        </div>
                        <div class="after" style="display: block;">
                            <div class="af_top tc">
                                <h2 class="dot">T恤名称</h2>
                            </div>
                            <div class="af_bot tc">
                                <h2>￥<em>300</em></h2>
                                <div class="af_bar"><i style="width: 80%;"></i></div>
                                <div class="info">
                                    <p>限量 79/99</p>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="i_pli">
                        <div class="before">
                            <div class="clo"><a href="">
                                <img class="lazybg" data-lazyload-img="__IMGPC__/micon44.png">
                            </a></div>
                            <div class="line"></div>
                            <div class="info">
                                <span class="view">23</span>
                                <span class="zan">23</span>
                            </div>
                        </div>
                        <div class="after" style="display: block;">
                            <div class="af_top tc">
                                <h2 class="dot">T恤名称</h2>
                            </div>
                            <div class="af_bot tc">
                                <h2>￥<em>300</em></h2>
                                <div class="af_bar"><i style="width: 80%;"></i></div>
                                <div class="info">
                                    <p>限量 79/99</p>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="i_pli">
                        <div class="before">
                            <div class="clo"><a href="">
                                <img class="lazybg" data-lazyload-img="__IMGPC__/micon44.png">
                            </a></div>
                            <div class="line"></div>
                            <div class="info">
                                <span class="view">23</span>
                                <span class="zan">23</span>
                            </div>
                        </div>
                        <div class="after" style="display: block;">
                            <div class="af_top tc">
                                <h2 class="dot">T恤名称</h2>
                            </div>
                            <div class="af_bot tc">
                                <h2>￥<em>300</em></h2>
                                <div class="af_bar"><i style="width: 80%;"></i></div>
                                <div class="info">
                                    <p>限量 79/99</p>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="i_pli">
                        <div class="before">
                            <div class="clo"><a href="">
                                <img class="lazybg" data-lazyload-img="__IMGPC__/micon44.png">
                            </a></div>
                            <div class="line"></div>
                            <div class="info">
                                <span class="view">23</span>
                                <span class="zan">23</span>
                            </div>
                        </div>
                        <div class="after" style="display: block;">
                            <div class="af_top tc">
                                <h2 class="dot">T恤名称</h2>
                            </div>
                            <div class="af_bot tc">
                                <h2>￥<em>300</em></h2>
                                <div class="af_bar"><i style="width: 80%;"></i></div>
                                <div class="info">
                                    <p>限量 79/99</p>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="i_pli">
                        <div class="before">
                            <div class="clo"><a href="">
                                <img class="lazybg" data-lazyload-img="__IMGPC__/micon44.png">
                            </a></div>
                            <div class="line"></div>
                            <div class="info">
                                <span class="view">23</span>
                                <span class="zan">23</span>
                            </div>
                        </div>
                        <div class="after" style="display: block;">
                            <div class="af_top tc">
                                <h2 class="dot">T恤名称</h2>
                            </div>
                            <div class="af_bot tc">
                                <h2>￥<em>300</em></h2>
                                <div class="af_bar"><i style="width: 80%;"></i></div>
                                <div class="info">
                                    <p>限量 79/99</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="i_pli">
                        <div class="before">
                            <div class="clo"><a href="">
                                <img class="lazybg" data-lazyload-img="__IMGPC__/micon44.png">
                            </a></div>
                            <div class="line"></div>
                            <div class="info">
                                <span class="view">23</span>
                                <span class="zan">23</span>
                            </div>
                        </div>
                        <div class="after" style="display: block;">
                            <div class="af_top tc">
                                <h2 class="dot">T恤名称</h2>
                            </div>
                            <div class="af_bot tc">
                                <h2>￥<em>300</em></h2>
                                <div class="af_bar"><i style="width: 80%;"></i></div>
                                <div class="info">
                                    <p>限量 79/99</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="i_pli">
                        <div class="before">
                            <div class="clo"><a href="">
                                <img class="lazybg" data-lazyload-img="__IMGPC__/micon44.png">
                            </a></div>
                            <div class="line"></div>
                            <div class="info">
                                <span class="view">23</span>
                                <span class="zan">23</span>
                            </div>
                        </div>
                        <div class="after" style="display: block;">
                            <div class="af_top tc">
                                <h2 class="dot">T恤名称</h2>
                            </div>
                            <div class="af_bot tc">
                                <h2>￥<em>300</em></h2>
                                <div class="af_bar"><i style="width: 80%;"></i></div>
                                <div class="info">
                                    <p>限量 79/99</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="i_pli">
                        <div class="before">
                            <div class="clo"><a href="">
                                <img class="lazybg" data-lazyload-img="__IMGPC__/micon44.png">
                            </a></div>
                            <div class="line"></div>
                            <div class="info">
                                <span class="view">23</span>
                                <span class="zan">23</span>
                            </div>
                        </div>
                        <div class="after" style="display: block;">
                            <div class="af_top tc">
                                <h2 class="dot">T恤名称</h2>
                            </div>
                            <div class="af_bot tc">
                                <h2>￥<em>300</em></h2>
                                <div class="af_bar"><i style="width: 80%;"></i></div>
                                <div class="info">
                                    <p>限量 79/99</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="i_pli">
                        <div class="before">
                            <div class="clo"><a href="">
                                <img class="lazybg" data-lazyload-img="__IMGPC__/micon44.png">
                            </a></div>
                            <div class="line"></div>
                            <div class="info">
                                <span class="view">23</span>
                                <span class="zan">23</span>
                            </div>
                        </div>
                        <div class="after" style="display: block;">
                            <div class="af_top tc">
                                <h2 class="dot">T恤名称</h2>
                            </div>
                            <div class="af_bot tc">
                                <h2>￥<em>300</em></h2>
                                <div class="af_bar"><i style="width: 80%;"></i></div>
                                <div class="info">
                                    <p>限量 79/99</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="i_pli">
                        <div class="before">
                            <div class="clo"><a href="">
                                <img class="lazybg" data-lazyload-img="__IMGPC__/micon44.png">
                            </a></div>
                            <div class="line"></div>
                            <div class="info">
                                <span class="view">23</span>
                                <span class="zan">23</span>
                            </div>
                        </div>
                        <div class="after" style="display: block;">
                            <div class="af_top tc">
                                <h2 class="dot">T恤名称</h2>
                            </div>
                            <div class="af_bot tc">
                                <h2>￥<em>300</em></h2>
                                <div class="af_bar"><i style="width: 80%;"></i></div>
                                <div class="info">
                                    <p>限量 79/99</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="i_pli">
                        <div class="before">
                            <div class="clo"><a href="">
                                <img class="lazybg" data-lazyload-img="__IMGPC__/micon44.png">
                            </a></div>
                            <div class="line"></div>
                            <div class="info">
                                <span class="view">23</span>
                                <span class="zan">23</span>
                            </div>
                        </div>
                        <div class="after" style="display: block;">
                            <div class="af_top tc">
                                <h2 class="dot">T恤名称</h2>
                            </div>
                            <div class="af_bot tc">
                                <h2>￥<em>300</em></h2>
                                <div class="af_bar"><i style="width: 80%;"></i></div>
                                <div class="info">
                                    <p>限量 79/99</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="i_pli">
                        <div class="before">
                            <div class="clo"><a href="">
                                <img class="lazybg" data-lazyload-img="__IMGPC__/micon44.png">
                            </a></div>
                            <div class="line"></div>
                            <div class="info">
                                <span class="view">23</span>
                                <span class="zan">23</span>
                            </div>
                        </div>
                        <div class="after" style="display: block;">
                            <div class="af_top tc">
                                <h2 class="dot">T恤名称</h2>
                            </div>
                            <div class="af_bot tc">
                                <h2>￥<em>300</em></h2>
                                <div class="af_bar"><i style="width: 80%;"></i></div>
                                <div class="info">
                                    <p>限量 79/99</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="i_pli">
                        <div class="before">
                            <div class="clo"><a href="">
                                <img class="lazybg" data-lazyload-img="__IMGPC__/micon44.png">
                            </a></div>
                            <div class="line"></div>
                            <div class="info">
                                <span class="view">23</span>
                                <span class="zan">23</span>
                            </div>
                        </div>
                        <div class="after" style="display: block;">
                            <div class="af_top tc">
                                <h2 class="dot">T恤名称</h2>
                            </div>
                            <div class="af_bot tc">
                                <h2>￥<em>300</em></h2>
                                <div class="af_bar"><i style="width: 80%;"></i></div>
                                <div class="info">
                                    <p>限量 79/99</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="i_pli">
                        <div class="before">
                            <div class="clo"><a href="">
                                <img class="lazybg" data-lazyload-img="__IMGPC__/micon44.png">
                            </a></div>
                            <div class="line"></div>
                            <div class="info">
                                <span class="view">23</span>
                                <span class="zan">23</span>
                            </div>
                        </div>
                        <div class="after" style="display: block;">
                            <div class="af_top tc">
                                <h2 class="dot">T恤名称</h2>
                            </div>
                            <div class="af_bot tc">
                                <h2>￥<em>300</em></h2>
                                <div class="af_bar"><i style="width: 80%;"></i></div>
                                <div class="info">
                                    <p>限量 79/99</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="i_pli">
                        <div class="before">
                            <div class="clo"><a href="">
                                <img class="lazybg" data-lazyload-img="__IMGPC__/micon44.png">
                            </a></div>
                            <div class="line"></div>
                            <div class="info">
                                <span class="view">23</span>
                                <span class="zan">23</span>
                            </div>
                        </div>
                        <div class="after" style="display: block;">
                            <div class="af_top tc">
                                <h2 class="dot">T恤名称</h2>
                            </div>
                            <div class="af_bot tc">
                                <h2>￥<em>300</em></h2>
                                <div class="af_bar"><i style="width: 80%;"></i></div>
                                <div class="info">
                                    <p>限量 79/99</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
		</div>
	</div>
</div>
<!--main end-->
<!--footer start-->
{include file="public/footer" /}
<!--footer end-->
</body>
</html>
<script src="__JSPC__/jquery.js"></script>
<script src="__JSPC__/ifie8.js"></script>
<script src="__JSPC__/lazybg.js"></script>
<script src="__JSPC__/layer.js"></script>
<script src="__JSPC__/js.js"></script>
<script src="__JSPC__/slick.js"></script>
<script src="__JSPC__/selectordie.min.js"></script>
<script src="__JSPC__/jquery.placeholder.min.js"></script>
<script src="__JSPC__/jquery.dotdotdot.min.js"></script>
<script src="__JSPC__/jquery.mCustomScrollbar.concat.min.js"></script>
<script>
$(function(){
    $('.p_r1tr li').click(function(){
        if($(this).hasClass('on')){
            $(this).removeClass('on');
            $('.p_r1tr li').find('.p_nav').stop(true,true).fadeOut();
            $(document).on("click",".p_r1tr dd",function(){
                $(this).parents('.p_nav').stop(true,true).fadeOut();
            });
        }else{
            $('.p_r1tr li').removeClass('on');
            $(this).addClass('on');
            $('.p_r1tr li').find('.p_nav').stop(true,true).fadeOut();
            $(this).find('.p_nav').stop(true,true).fadeIn();

            $(document).on("click",".p_r1tr dd",function(){
                $(this).parents('.p_nav').stop(true,true).fadeOut();
            });
        }
    })


    $('.p_w330 dl.fr').mCustomScrollbar({
        axis: "y",
        scrollInertia: 100,
        scrollButtons: {
            enable: true,
            scrollSpeed: 20
        },
        theme: "3d"
    });

        //详情左边展开分享按钮
    // $('.ipro_share .icon').click(function() {
    //     if ($(this).parents('.ipro_share').hasClass('on')) {
    //         $(this).parents('.ipro_share').removeClass('on');
    //     } else {
    //         $(this).parents('.ipro_share').addClass('on');
    //     }
    // });
});
</script>

