<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no, email=no" />
<link href="__CSSPC__/style.css" type="text/css" rel="stylesheet" />
<link href="__CSSPC__/jquery.mCustomScrollbar.css" type="text/css" rel="stylesheet" />
<title>{$site_title}</title>
<meta name="keywords" content="{$site_keywords}">
<meta name="description" content="{$site_description}">
</head>
<body>
<!--header start-->
<div class="header first second fixed">
    {include file="public/nav" /}
    {include file="public/user_right" /}
</div>
<div class="float_right"></div>
<!--header end-->
<!--main start-->
<div class="mem_main bg_f5f5f5 clearfix">
	{include file="public/user_left" /}
	<div class="mem_right">
		<div class="mem_rtit">我的消息</div>
		<div class="mem_rcon msg_rcon">
			<ul class="msg_rlist">
				<li><a href="{:url('User/my_message')}">
					<h2>通知</h2>
					<p>2</p>
				</a></li>
				<li><a href="{:url('User/personal_letter')}">
					<h2>私信</h2>
					<p>10</p>
				</a></li>
				<li class="on"><a href="{:url('User/my_hudong')}">
					<h2>互动</h2>
					<p>10</p>
				</a></li>
			</ul>
			<div class="not_rwrap clearfix">
				<div class="tc">
					<ul class="not_rlist">
						<li class="on"><a href="">全部<i></i></a></li>
						<li class="new"><a href="">评论<i></i></a></li>
						<li class="new"><a href="">点赞<i></i></a></li>
						<li><a href="">粉丝<i></i></a></li>
					</ul>
				</div>
				<div class="not_rmain">
					<ul class="not_rmtop">
						<li>
							<div class="part part1"><label><i></i><input type="checkbox" name="notice" class="not_rmcheck"></label></div>
							<div class="part part2"><i class="on"></i></div>
							<div class="part part3 tover">
								<span class=inte1><i class="lazybg" data-lazyload-bg="__IMGPC__/avatar5.jpg"></i><em class="tover">Beyond</em></span>
								<font class="inte2 tover">对你的<a href="">《OTEE》</a>点赞</font>
							</div>
							<div class="part part4">2017-09-26  12:00:00</div>
						</li>
						<li>
							<div class="part part1"><label><i></i><input type="checkbox" name="notice" class="not_rmcheck"></label></div>
							<div class="part part2"><i class="on"></i></div>
							<div class="part part3 tover">
								<span class=inte1><i class="lazybg" data-lazyload-bg="__IMGPC__/avatar5.jpg"></i><em class="tover">Beyond</em></span>
								<font class="inte2 tover">评论了作品<a href="">《OTEE》</a>   内容内容内容内容内容</font>
							</div>
							<div class="part part4">2017-09-26  12:00:00</div>
						</li>
						<li>
							<div class="part part1"><label><i></i><input type="checkbox" name="notice" class="not_rmcheck"></label></div>
							<div class="part part2"><i></i></div>
							<div class="part part3 tover">
								<span class=inte1><i class="lazybg" data-lazyload-bg="__IMGPC__/avatar5.jpg"></i><em class="tover">Beyond</em></span>
								<font class="inte2 tover">对你的<a href="">《OTEEOTEE》</a>点赞</font>
							</div>
							<div class="part part4">2017-09-25  12:00:00</div>
						</li>
						<li>
							<div class="part part1"><label><i></i><input type="checkbox" name="notice" class="not_rmcheck"></label></div>
							<div class="part part2"><i class="on"></i></div>
							<div class="part part3 tover">
								<span class=inte1><i class="lazybg" data-lazyload-bg="__IMGPC__/avatar5.jpg"></i><em class="tover">Beyond</em></span>
								<font class="inte2 tover">评论了作品<a href="">《OTEE》</a>   内容内容内容内容内容</font>
							</div>
							<div class="part part4">2017-09-25  12:00:00</div>
						</li>
						<li>
							<div class="part part1"><label><i></i><input type="checkbox" name="notice" class="not_rmcheck"></label></div>
							<div class="part part2"><i></i></div>
							<div class="part part3 tover">
								<span class=inte1><i class="lazybg" data-lazyload-bg="__IMGPC__/avatar5.jpg"></i><em class="tover">Beyond</em></span>
								<font class="inte2 tover">关注了你</font>
							</div>
							<div class="part part4">2017-09-25  12:00:00</div>
						</li>
						<li>
							<div class="part part1"><label><i></i><input type="checkbox" name="notice" class="not_rmcheck"></label></div>
							<div class="part part2"><i></i></div>
							<div class="part part3 tover">
								<span class=inte1><i class="lazybg" data-lazyload-bg="__IMGPC__/avatar5.jpg"></i><em class="tover">Beyond</em></span>
								<font class="inte2 tover">对你的<a href="">《OTEE》</a>点赞</font>
							</div>
							<div class="part part4">2017-09-25  12:00:00</div>
						</li>
						<li>
							<div class="part part1"><label><i></i><input type="checkbox" name="notice" class="not_rmcheck"></label></div>
							<div class="part part2"><i></i></div>
							<div class="part part3 tover">
								<span class=inte1><i class="lazybg" data-lazyload-bg="__IMGPC__/avatar5.jpg"></i><em class="tover">Beyond</em></span>
								<font class="inte2 tover">评论了作品<a href="">《OTEE》</a>   内容内容</font>
							</div>
							<div class="part part4">2017-09-25  12:00:00</div>
						</li>
						<li>
							<div class="part part1"><label><i></i><input type="checkbox" name="notice" class="not_rmcheck"></label></div>
							<div class="part part2"><i></i></div>
							<div class="part part3 tover">
								<span class=inte1><i class="lazybg" data-lazyload-bg="__IMGPC__/avatar5.jpg"></i><em class="tover">Beyond</em></span>
								<font class="inte2 tover">评论了作品<a href="">《OTEE》</a>   内容内容</font>
							</div>
							<div class="part part4">2017-09-25  12:00:00</div>
						</li>
						<li>
							<div class="part part1"><label><i></i><input type="checkbox" name="notice" class="not_rmcheck"></label></div>
							<div class="part part2"><i></i></div>
							<div class="part part3 tover">
								<span class=inte1><i class="lazybg" data-lazyload-bg="__IMGPC__/avatar5.jpg"></i><em class="tover">Beyond</em></span>
								<font class="inte2 tover">评论了作品<a href="">《OTEE》</a>   内容内容内容内容内容</font>
							</div>
							<div class="part part4">2017-09-25  12:00:00</div>
						</li>
					</ul>
					<div class="not_rmbot">
						<label class="not_rmcheck_all"><i></i><input type="checkbox" name=""><span>全选</span></label>
						<a href="javascript:void(0);" class="not_rmdel nb_t3">删除</a>
						<a href="javascript:void(0);" class="not_rmread nb_t1 fr">全部标记已读</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--main end-->
<!--footer start-->
{include file="public/footer" /}
<!--footer end-->
</body>
</html>
<script src="__JSPC__/jquery.js"></script>
<script src="__JSPC__/ifie8.js"></script>
<script src="__JSPC__/lazybg.js"></script>
<script src="__JSPC__/layer.js"></script>
<script src="__JSPC__/js.js"></script>
<script src="__JSPC__/slick.js"></script>
<script src="__JSPC__/selectordie.min.js"></script>
<script src="__JSPC__/jquery.placeholder.min.js"></script>
<script src="__JSPC__/jquery.dotdotdot.min.js"></script>
<script src="__JSPC__/jquery.mCustomScrollbar.concat.min.js"></script>
<script>
$(function(){
	$('.not_rmtop .part1').click(function(e) {
		if(e.target.nodeName != "INPUT"){
			e.preventDefault();
		}
	});

	//input改变的时候换icon图片
    $('.not_rmtop .part1 label input').change(function() {
        if($(this).prop("checked") == true){
            $(this).parents('label').addClass('on');
             $(this).parents('li').addClass('select');
        }else{
            $(this).parents('label').removeClass('on');
            $(this).parents('li').removeClass('select');
        }
        checkall();
    });

    //全选
    $(".not_rmcheck_all input").change(function() {
        if($('.not_rmcheck_all').hasClass('on')){
            $('.not_rmtop .part1 label input').prop("checked",false);
            $('.not_rmtop .part1 label,.not_rmcheck_all').removeClass('on');
            $('.not_rmcheck_all span').text("全选");
            $('.not_rmtop li').removeClass('select');
        }else{
            $('.not_rmtop .part1 label input').prop("checked",true);
            $('.not_rmtop .part1 label,.not_rmcheck_all').addClass('on');
            $('.not_rmcheck_all span').text("取消全选");
            $('.not_rmtop li').addClass('select');
        }
    });

    //删除
    $('.not_rmdel').click(function() {
    	layer.confirm('确定删除选中的消息？', {
			title: false,
			closeBtn: 0,
			btn: ['取 消','确 定'] //按钮
		}, function(){
			layer.closeAll();
		}, function(){
			$('.not_rmtop li.select').remove();
		});
    });

    //全部标为已读
    $('.not_rmread').click(function() {
    	$('.not_rmtop .part2 i').removeClass('on');
    });
});
function checkall(){
    for (var i = 0; i < $('.not_rmcheck').length; i++) {
        if($('.not_rmcheck').eq(i).prop("checked") == false){
            $('.not_rmcheck_all').removeClass('on');
            $('.not_rmcheck_all span').text("全选");
            return false;
        }else{
            $('.not_rmcheck_all').addClass('on');
            $('.not_rmcheck_all span').text("取消全选");
        }
    }
}
</script>

