<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no, email=no" />
<link href="__CSSPC__/style.css" type="text/css" rel="stylesheet" />
<link href="__CSSPC__/jquery.mCustomScrollbar.css" type="text/css" rel="stylesheet" />
<title>{$site_title}</title>
<meta name="keywords" content="{$site_keywords}">
<meta name="description" content="{$site_description}">
</head>
<body>
<!--header start-->
<div class="header first second fixed">
    {include file="public/nav" /}
    {include file="public/right" /}
</div>
<div class="float_right"></div>
<!--header end-->
<!--main start-->
<div class="proto_bg">
    <div class="proto_wrap">
        <h2>OTEE用户协议</h2>
        <div class="content">
            <div class="pb15">
                <p>1. 特别提示</p>
                <p>1.1为使用本手机应用软件及服务，您应当阅读并遵守《用户使用协议》（以下简称“本协议”）。请您务必审慎阅读、充分理解各条款内容，特别是免除或者限制责任的条款，以及同意或使用某项服务的单独协议，并选择接受或不接受。</p>
                <p>1.2 除非您已阅读并接受本协议所有条款，否则您无权下载、安装或使用本软件及相关服务。您的下载、安装、使用、获取账号、登录等行为即视为您已阅读并同意上述协议的约束。</p>
                <p>1.3东大正保公司（以下称“本公司”）同意按照</p>
                <p>本协议的规定及其不时发布的操作规则提供基于互联网的相关服务（以下称"本服务"）。为获得本服务，服务使用人（以下称"用户"）应当同意本协议的全部条款并按照页面</p>
                <p>上的提示完成全部的申请程序。</p>
                <br/>
                <p>2. 协议的范围</p>
                <p>2.1 协议适用主体范围</p>
                <p>本协议是您与东大正保公司之间关于您下载、安装、使用、复制本软件，以及使用本公司相关服务所订立的协议。</p>
                <p>2.2 协议关系和冲突条款</p>
                <p>本公司在网站上公布的服务条款及用户所参加课程的招生方案和班次协议等是本协议的补充。本协议与上述内容存在冲突的，以本协议为准。 本协议内容同时包括东大正保公司可能不断发布的关于本服务的相关协议、业务规则等内容。上述内容一经正式发布，即为本协议不可分割的组成部分，您同样应当遵守。</p>
                <br/>
                <p>3.服务内容与授权使用范围</p>
                <p>3.1本软件根据用户实际需求提供服务，例如听课、做题等。本公司保留随时变更、中断或终止部分或全部本服务的权利。</p>
                <p>3.2本软件手机应用的授权使用范围：</p>
                <p>1) 用户可以在手机上安装、使用、显示、运行本软件。</p>
                <p>2) 保留权利：未明示授权的其他一切权利均由本公司所有。</p>
                <br/>
                <p>4. 使用规则</p>
                <p>4.1账号使用规则</p>
                <p>4.1.1用户在使用本软件前需要注册一个账号。用户注册时需要提供准确的个人资料，如个人资料有任何变动，需要及时更新。如因注册信息不准确而引起的问题由用户本人承担，本公司不负任何责任并有权暂停或终止用户的账号。</p>
                <p>4.1.2本软件账号的所有权归本公司所有，用户完成申请注册手续后，仅获得账号的使用权，且该使用权仅属于初始申请注册人。同时，初始申请注册人不得赠与、借用、租用、转让或售卖账号或者以其他方式许可非初始申请注册人使用账号。</p>
                <p>4.1.3如若有任何第三方向本公司发出指示，在确认其提供账户、密码信息准确无误的情况下，用户同意且本公司有权视该行为获得了用户的充分授权，该行为所产生结果直接归属于用户本身。</p>
                <p>4.1.4用户承担账号与密码的保管责任，用户对以其账号发生的或通过其账号发生的一切活动和事件（包括但不限于用户发表的任何内容以及由此产生的任何结果）负全部法律责任。用户须重视账号与密码的保护，若因为用户自身原因，而导致账号与密码遭他人非法使用时，本公司将不承担任何责任。用户自身原因包括但不限于：任意向第三者透露账号和密码及所有注册资料；多人共享同一个账号；安装非法或来路不明的程序等。</p>
                <p>4.2用户使用规则</p>
                <p>4.2.1用户在使用本软件时，必须遵循以下原则：</p>
                <p>1) 遵守中国有关的法律和法规；</p>
                <p>2) 不得为任何非法目的而使用本服务系统；</p>
                <p>3) 遵守所有与本服务有关的网络协议、规定和程序；</p>
                <p>4) 不得利用本软件系统进行任何可能对互联网的正常运转造成不利影响的行为；</p>
                <p>5) 不得利用本软件服务系统进行任何不利于其他用户的行为；</p>
                <p>6) 如发现任何非法使用用户账号或账号出现安全漏洞的情况，应立即通告东大正保官方；</p>
                <p>7) 不使用外挂或者其他作弊手段、不正当或不公平手段参加本软件提供的本服务。</p>
                <p>4.2.2东大正保致力于为用户提供文明健康、规范有序的服务，用户应遵守中华人民共和国相关法律法规(如果用户是中华人民共和国境外的使用者，还应遵守所属国家或地区的法律法规)，用户将自行承担用户所发布的信息内容的责任。特别地，用户不得发布下列内容：</p>
                <p>1) 反对中华人民共和国宪法所确定的基本原则的；</p>
                <p>2) 危害国家统一、主权和领土完整的；</p>
                <p>3) 泄露国家秘密，危害国家安全或者损害国家荣誉和利益的；</p>
                <p>4) 煽动民族仇恨、民族歧视，破坏民族团结或者侵害民族风俗、习惯的；</p>
                <p>5) 破坏国家宗教政策，宣扬邪教、迷信的；</p>
                <p>6) 散布谣言，扰乱社会秩序，破坏社会稳定的；</p>
                <p>7) 散布淫秽、赌博、暴力或者教唆犯罪的；</p>
                <p>8) 侮辱或者诽谤他人，侵害他人合法权益的；</p>
                <p>9) 危害社会公德或者民族优秀文化传统的；</p>
                <p>10) 宣扬外挂,私服以及木马的相关内容；</p>
                <p>11) 刊登任何经本公司合理判断为不妥当或者本公司未认可的软件、文件等在内的主页地址或者链接的行为；</p>
                <p>12) 含有中华人民共和国法律、行政法规禁止的其他内容的。</p>
            </div>
        </div>
        <div class="btn_box clearfix">
            <div class="btn not_agree nb_t1 fl">不同意</div>
            <div class="btn sure_btn no disabled nb_t2 fr">请看完</div>
        </div>
    </div>
</div>
<div class="rl_main reg_main">
    <div class="rl_wrap clearfix">
        <div class="rl_left fl">
            <h2>注册</h2>
            <form class="rl_form" action="{:url('User/do_register')}" method="post">
                <div class="item phone">
                    <div class="l_box">
                        <b class="icon_1_1"></b>
                        <input type="text" name="mobile_phone" id="mobile_phone" placeholder="手机号">
                        <i class="state"></i>
                    </div>
                </div>
                <div class="item name">
                    <div class="l_box">
                        <b class="icon_1_2"></b>
                        <input type="text" name="username" id="username" placeholder="用户名">
                        <i class="state"></i>
                    </div>
                </div>
                <div class="item pwd">
                    <div class="l_box">
                        <b class="icon_1_3"></b>
                        <input type="password" name="pwd" id="pwd" placeholder="密码(8-16位)">
                        <i class="state"></i>
                        <em class="strength"></em>
                    </div>
                    <div class="get_pwd"></div>
                </div>
                <div class="item code clearfix">
                    <div class="l_box fl">
                        <b class="icon_1_4"></b>
                        <input type="text" name="mobile_code" id="mobile_code" placeholder="请输入验证码">
                        <i class="state"></i>
                    </div>
                    <div class="get_code disabled nb_t1 fr" onclick="getCode(1)">获取验证码</div>
                </div>
                <div class="outer">
                    <div class="filter-box"></div>
                    <span>滑动到最右解锁</span>
                    <div class="inner"></div>
                </div>
                <div class="txt no_t">
                    <div class="base_btn rl_sub nb_t2">注 册</div>
                    <p>已有账号？ <a href="{:url('user/login')}">登录</a></p>
                </div>
            </form>
        </div>
        <div class="rl_mid fl"></div>
        <div class="rl_right fr">
            <a href="" class="icon_1_5"></a>
            <a href="" class="icon_1_6"></a>
            <a href="" class="icon_1_7"></a>
            <a href="" class="icon_1_8"></a>
        </div>
    </div>
</div>
<!--main end-->
<!--footer start-->
{include file="public/footer" /}
<!--footer end-->
</body>
</html>
<script src="__JSPC__/jquery.js"></script>
<script src="__JSPC__/ifie8.js"></script>
<script src="__JSPC__/lazybg.js"></script>
<script src="__JSPC__/js.js"></script>
<script src="__JSPC__/slick.js"></script>
<script src="__JSPC__/selectordie.min.js"></script>
<script src="__JSPC__/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="__JSPC__/jquery.placeholder.min.js"></script>
<script src="__JSPC__/jquery.dotdotdot.min.js"></script>
<script>
    $(function(){
        $(".inner").mousedown(function(e){
            var el = $(".inner"),os = el.offset(),dx,$span=$(".outer>span"),$filter=$(".filter-box"),_differ=$(".outer").width()-el.width();
            $(document).mousemove(function(e){
                dx = e.pageX - os.left;
                if(dx<0){
                    dx=0;
                }else if(dx>_differ){
                    dx=_differ;
                }
                $filter.css('width',dx+10);
                el.css("left",dx);
            });
            $(document).mouseup(function(e){
                $(document).off('mousemove');
                $(document).off('mouseup');
                dx = e.pageX - os.left;
                if(dx<_differ){
                    dx=0;
                    $span.html("滑动到最右解锁");
                    $filter.css('width',dx);
                }else if(dx>=_differ){
                    dx=_differ;
                    $(".outer").addClass("act");
                    $span.html("");
                    el.addClass('right');
                    $filter.css('width',dx+10);
                }
                el.css("left",dx);
            })
        })
    })
</script>
<script>
$(function(){
    $('.footer').addClass('rl_footer');
    $('.rl_wrap form input').focus(function() {
        $(this).parents('.l_box').addClass('hover')
    });
    $('.rl_wrap form input').blur(function() {
        var eq = $(this).parents('.item').index();
        $(this).parents('.l_box').removeClass('hover');
        checkPhone();
        checkName();
        checkpwd();
        checkcode();
    });
    $('.rl_sub').click(function() {
        checkRl(999);
    });
    $('.get_pwd').click(function() {
        if($(this).parents('.pwd').hasClass('show')){
            $(this).parents('.pwd').removeClass('show');
            $(this).parents('.pwd').find('input').prop("type", "password");
        }else{
            $(this).parents('.pwd').addClass('show');
            $(this).parents('.pwd').find('input').prop("type", "text");
        }
    });
    /*$('.get_code').click(function() {
        if($('.get_code').hasClass('counting') || $('.get_code').hasClass('disabled')){ return false; }
        if($('.get_code').hasClass('on')){
            $('.get_code').text("60s");
            $('.get_code').removeClass('on').addClass('counting');
            var second = 60;
            var timer = null;
            timer = setInterval(function(){
                second -= 1;
                if(second >0 ){
                    $('.get_code').text(second+"s")
                }else{
                    clearInterval(timer);
                    $('.get_code').removeClass('counting');
                    $('.get_code').text("获取验证码")
                    checkRl(0);
                }
            },1000);
        }
    });*/
    $('.not_agree,.proto_bg').click(function() {
        $('.proto_bg').fadeOut();
    });
    $('.proto_wrap').click(function(e) {
        e.stopPropagation();
    });
    $('.proto_wrap .content .pb15').mCustomScrollbar({
        axis:"y",
        scrollInertia: 100,
        scrollButtons:{
            enable: true,
            scrollSpeed: 20
        },
        theme:"3d",
        callbacks:{
            onTotalScroll:function(){
              $('.sure_btn').removeClass('disabled nb_t1').addClass('nb_t2').text("同 意");
            }
        }
    });
    $('.sure_btn').click(function() {
        if($(this).hasClass('disabled')){ return false; }
        $('.rl_form').submit();
    });
});
function checkPhone(index){
    var phone = $('.phone input').val();
    if(!phone){
        if(index == 999){
            $('.phone.item').removeClass('right').addClass('wrong');
        }else{
            $('.phone.item').removeClass('right wrong');
        }
        if($('.get_code').hasClass('counting')){}else{
            $('.get_code').removeClass('on').addClass('disabled');
        }
    }else if(!(/^1[34578]\d{9}$/.test(phone))){
        $('.phone.item').removeClass('right').addClass('wrong');
        if($('.get_code').hasClass('counting')){}else{
            $('.get_code').removeClass('on').addClass('disabled');
        }
    }else{
        $('.phone.item').removeClass('wrong').addClass('right');
        if($('.get_code').hasClass('counting')){}else{
            $('.get_code').addClass('on').removeClass('disabled');
        }
    }
}
function checkName(index){
    var name = $('.name input').val();
    if(!name){
        if(index == 999){
            $('.name.item').removeClass('right').addClass('wrong');
        }else{
            $('.name.item').removeClass('right wrong');
        }
    }else{
        $('.name.item').removeClass('wrong').addClass('right');
    }
}
function checkpwd(index){
    var pwd = $('.pwd input').val();
    var length = /^.{8,16}$/.test(pwd);
    if(!pwd){
        if(index == 999){
            $('.pwd.item').removeClass('right').addClass('wrong');
        }else{
            $('.pwd.item').removeClass('right wrong');
        }
        $('.get_pwd').removeClass('high middle low');
    }else if(!length){
        $('.pwd.item').removeClass('right').addClass('wrong');
        $('.get_pwd').removeClass('high middle low');
    }else{
        var modes = 0;
        var lowercase = /[a-z]/.test(pwd);
        var number = /[0-9]/.test(pwd);
        var letter = /[a-zA-Z]/.test(pwd);
        var uppercase = /[A-Z]/.test(pwd);
        var other = /[!#$%&'*+/=?<>^_`(){|}~-]/.test(pwd);
        if(number || letter){
            modes++;
        }
        if((letter && number) || (number && other) || (letter && other)){
            modes++;
        }
        if(lowercase && uppercase && number && other){
            modes++;
        }
        if(modes == 1){
            $('.get_pwd').removeClass('high middle low').addClass('low');
            $('.pwd.item').removeClass('right').addClass('wrong');
        }else if(modes == 2){
            $('.get_pwd').removeClass('high middle low').addClass('middle');
            $('.pwd.item').removeClass('wrong').addClass('right');
        }else if(modes == 3){
            $('.get_pwd').removeClass('high middle low').addClass('high');
            $('.pwd.item').removeClass('wrong').addClass('right');
        }
    }
}
function checkcode(index){
    var code = $('.code input').val();
    if(!code){
        if(index == 999){
            $('.code.item').removeClass('right').addClass('wrong');
        }else{
            $('.code.item').removeClass('right wrong');
        }
    }else{
        $('.code.item').removeClass('wrong').addClass('right');
    }
}

function checkRl(index){
    checkPhone(999);
    checkName(999);
    checkpwd(999);
    checkcode(999);
    if($('.item.right').length == $('.rl_form .item').length && index == 999 && $('.outer').hasClass('act')){
        $('.proto_bg').fadeIn();
    }else{
        return false;
    }
}

// 获取验证码
function getCode(send_type){
    var mobile = $("#mobile_phone").val();
    if(!checkMobile(mobile)){
        return false;
    }

    $.ajax({
        type: "get",
        url: "/user/getCode",
        dataType: 'json',
        data:{send_type:send_type,mobile:mobile},
        success: function(result){
            if (result.code == 200) {
                if($('.get_code').hasClass('counting') || $('.get_code').hasClass('disabled')){ return false; }
                if($('.get_code').hasClass('on')){
                    $('.get_code').text("60s");
                    $('.get_code').removeClass('on').addClass('counting');
                    var second = 60;
                    var timer = null;
                    timer = setInterval(function(){
                        second -= 1;
                        if(second >0 ){
                            $('.get_code').text(second+"s")
                        }else{
                            clearInterval(timer);
                            $('.get_code').removeClass('counting');
                            $('.get_code').text("获取验证码")
                            checkRl(0);
                        }
                    },1000);
                }
            } else {
                alert(result.message);
            }
        }
    });
    //禁止页面刷新
    return false;
}

//验证手机格式
function checkMobile(mobile){
    if(mobile.length==0){
        alert('请输入手机号码！');
        return false;
    }

    if(mobile.length!=11){
        alert('请输入有效的手机号码！');
        return false;
    }

    var cMobile=/(^(13[0-9]|14[57]|15[012356789]|17[03678]|18[0-9])\d{8}$)|(^170[059]\d{7}$)/;
    if(!cMobile.test(mobile)){
        alert('请输入有效的手机号码！');
        return false;
    }

    return true;
}
</script>

