{include file="public/user_head" /}
<body>
<!--header start-->
<div class="header first second fixed">
    {include file="public/nav" /}
    {include file="public/user_right" /}
</div>
<div class="float_right"></div>
<!--header end-->
<!--main start-->
<div class="mem_main bg_f5f5f5 clearfix">
	<div class="mem_left">
		<div class="head_box tc bg_white">
			<div class="grade_box">
                <i class="grade_i"></i>
                <div class="p_level">
                    <a href="#" class="on">LV1</a>
                    <a href="#">LV2</a>
                    <a href="#">LV3</a>
                    <a href="#">LV4</a>
                    <a href="#">LV5</a>
                    <a href="#">LV6</a>
                </div>
            </div>
            <div class="avatar d_ib">
                <img class="lazybg" data-lazyload-img="__IMGPC__/avatar6.jpg">
                <h2>Anna</h2>
            </div>
            <dl>
            	<dd><a href=""><span>关注</span><font>88</font></a></dd>
            	<dd><a href=""><span>粉丝</span><font>888</font></a></dd>
            </dl>
        </div>
        <div class="l_menu bg_white">
            <ul class="d_ib tl">
                <li><h2><i><img src="__IMGPC__/micon1.png"></i><span>账户信息</span></h2>
                    <dl>
                        <dd><a href="">我的消息</a></dd>
                        <dd><a href="">个人资料</a></dd>
                        <dd><a href="">账户安全</a></dd>
                        <dd><a href="">收货地址</a></dd>
                    </dl>
                </li>
                <li><h2><i><img src="__IMGPC__/micon2.png"></i><span>我的OTEE</span></h2>
                    <dl>
                        <dd><a href="">我的设计库</a></dd>
                        <dd><a href="">出售我的OTEE</a></dd>
                        <dd><a href="">出售中</a></dd>
                        <dd><a href="">待审核</a></dd>
                        <dd><a href="">未通过</a></dd>
                        <dd><a href="">已售罄</a></dd>
                        <dd><a href="">我的佣金</a></dd>
                        <dd><a href="">我的等级</a></dd>
                    </dl>
                </li>
                <li><h2><i><img src="__IMGPC__/micon3.png"></i><span>交易中心</span></h2>
                    <dl>
                        <dd class="on"><a href="">我的订单</a></dd>
                        <dd><a href="">我的优惠券</a></dd>
                        <dd><a href="">我的评价</a></dd>
                    </dl>
                </li>
                <li><h2><i><img src="__IMGPC__/micon4.png"></i><span>我的作品集</span></h2>
                    <dl>
                        <dd><a href="">我的作品</a></dd>
                        <dd><a href="">待审核</a></dd>
                        <dd><a href="">未通过</a></dd>
                    </dl>
                </li>
                <li><h2><i><img src="__IMGPC__/micon5.png"></i><span>我的收藏</span></h2>
                    <dl>
                        <dd><a href="">T恤收藏</a></dd>
                        <dd><a href="">作品收藏</a></dd>
                    </dl>
                </li>
                <li><h2><a href=""><i><img src="__IMGPC__/micon6.png"></i><span>安全退出</span></a></h2></li>
            </ul>
        </div>
	</div>
    {include file="order/order_info"}
</div>
<div class="rep_bg">
    <div class="rep_wrap">
        <i class="del"></i>
        <div class="mem_rtit">我要举报</div>
        <form class="rep_form tc">
            <div class="item">
                <span>举报对象:</span>
                <div class="r_box">
                    <font class="rep_name">张 三</font>
                </div>
            </div>
            <div class="item">
                <span>原 因:</span>
                <div class="r_box">
                    <select name="" class="select">
                        <option value="">XXXXXXXXXXX</option>
                        <option value="">XXXXXXXXXXXXXXXXXXXXXX</option>
                        <option value="">XXXXXXXXXXX</option>
                    </select>
                </div>
            </div>
            <div class="item w100">
                <input type="button" value="提 交" class="rep_sub nb_t2">
            </div>
        </form>
    </div>
</div>
<div class="p_y">
    <div class="p_ycon2">
        <h4>发送私信</h4>
        <div class="p_ycon2b fix">
            <div class="p_img fl">
                <img src="__IMGPC__/refer/p_peo3.png" alt="">
                <p>UMI</p>
            </div>
            
            <div class="p_txt fl">
                <textarea placeholder="私信内容"></textarea>
            </div>
        </div>
        <a href="#" class="p_fs nb_t2">发 送</a>
        <div class="p_pclo1"></div>
    </div>
</div>
<div class="ipro_bg"></div>
<i class="ipro_close"></i>
<!--<a href="" class="ipro_prev"></a>
<a href="" class="ipro_next"></a>-->
<div class="ipro_popup">
    <div class="ipro_inner">
        <div class="ipro_content">

        </div>
    </div>
</div>
<div class="js-lightbox-wrap extras-hidden" id="lightbox-wrap">
    <div class="js-blocking" id="lightbox-blocking" style="background-color: rgb(0, 0, 0);opacity: 1;">
        <span class="lightbox-spinner"></span>
    </div>
    <div class="js-lightbox-inner-wrap" id="lightbox-inner-wrap">
        <div class="js-img-wrap" id="lightbox-img-wrap">
            <div class="lightbox-extra control prev js-control js-prev hidden">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" width="60" height="60" viewBox="0 0 60 60" xml:space="preserve">
                    <circle class="lightbox-icon-bg" cx="30" cy="30" r="30"></circle>
                    <path class="lightbox-icon-arrow" d="M36.8,36.4L30.3,30l6.5-6.4l-3.5-3.4l-10,9.8l10,9.8L36.8,36.4z"></path>
                </svg>
            </div>
            <div class="lightbox-extra control next js-control js-next hidden">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" width="60" height="60" viewBox="0 0 60 60" xml:space="preserve">
                    <circle class="lightbox-icon-bg" cx="30" cy="30" r="30"></circle>
                    <path class="lightbox-icon-arrow" d="M24.2,23.5l6.6,6.5l-6.6,6.5l3.6,3.5L37.8,30l-10.1-9.9L24.2,23.5z"></path>
                </svg>
            </div>
            <div class="lightbox-extra control close js-control js-close">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid meet" fill="#FFF">
                    <circle class="lightbox-icon-bg" cx="50" cy="50" r="47.5"></circle>
                    <polygon class="lightbox-icon-close" points="64.5,39.8 60.2,35.5 50,45.7 39.8,35.5 35.5,39.8 45.7,50 35.5,60.2 39.8,64.5 50,54.3 60.2,64.5 64.5,60.2 54.3,50"></polygon>
                </svg>
            </div>
            <div class="lightbox-contents js-contents"></div>
        </div>
    </div>
</div>
<div id="fancybox-loading"></div>
<!--main end-->
<!--footer start-->
{include file="public/footer" /}
<!--footer end-->
</body>
</html>
<!--js start-->
{include file="public/footer_js" /}
<!--js end-->
<script type="text/javascript">
    function noChat(){
        layer.open({
            content: '该商家暂无客服！'
            ,skin: 'msg'
            ,time: 2 //2秒后自动关闭
        });
        return false;
    }
</script>
<script>
$(function(){
	$('.p_btn').click(function(){
        $(this).toggleClass('on');
        $(this).parent().parent().parent().parent().next('.p_wls').stop(true,true).slideToggle()
    })
});
</script>
