{if $data.list}
	{foreach $data.list as $key =>$vo}
	<li class="clearfix">
	    <div class="fl">
	        <h2>{$vo.change_desc}</h2>
	        <span>{$vo.change_time}</span>  
	    </div>
	    <div class="fr tx">{if $vo.type eq 0}-{else}+{/if}{$vo.user_money}</div>
	</li>
	{/foreach}
{else}
    {if $is_ajax eq 0}
    <p align="center" style="margin-top:1rem;"><img src="__IMGWAP__/noresult.png"></p>
    <p align="center" style="margin-top:0.3rem;">没有数据！</p>
    {else}
    <script type="text/javascript">
        $(function(){
            layer.open({
                content: '没有数据了'
                ,skin: 'msg'
                ,time: 2 //2秒后自动关闭
            });
        })
    </script>
    {/if}
{/if}