{include file="public/header" /}
<style>
    .minus { position: absolute; top: -0.3rem; background: url(__IMGWAP__/minus.png) no-repeat 100% 100%; z-index: 100; right: -0.3rem; width: 35px; height: 35px; }
</style>
  
<body data-psd-width="840">
<header class="pr hg ">
    <div class="pa back on" onclick="history.go(-1)"></div>
    <h1 class="tc col">评论</h1>
</header>	
<div class="content">
    <div class="con19">
    <form action="{:url('USer/do_order_comment')}" method="post" enctype="multipart/form-data" id="comment_form">
    	<input type="hidden" name="rec_id" id="rec_id" value="{$rec_id}">
		<input type="hidden" name="order_id" id="order_id" value="{$order_id}">
		<input type="hidden" name="goods_id" id="goods_id" value="{$goods_id}">
		<input type="hidden" name="comment_rank" id="comment_rank" value="0">
		<input type="hidden" name="server" id="server" value="0">
		<input type="hidden" name="send" id="send" value="0">
		<input type="hidden" name="shipping" id="shipping" value="0">
		<div class="xx clearfix bgc">
			<h2 class="fl">综合评分：</h2>
			<div class="fl clearfix xxs comment_rank">
				<span onclick="$('#comment_rank').val(1)"></span>
				<span onclick="$('#comment_rank').val(2)"></span>
				<span onclick="$('#comment_rank').val(3)"></span>
				<span onclick="$('#comment_rank').val(4)"></span>
				<span onclick="$('#comment_rank').val(5)"></span>
			</div>
		</div>

        {if $is_real eq 1}
		<div class="xx clearfix bgc">
			<h2 class="fl">服务评分：</h2>
			<div class="fl clearfix xxs server">
				<span onclick="$('#server').val(1)"></span>
				<span onclick="$('#server').val(2)"></span>
				<span onclick="$('#server').val(3)"></span>
				<span onclick="$('#server').val(4)"></span>
				<span onclick="$('#server').val(5)"></span>
			</div>
		</div>
		<div class="xx clearfix bgc">
			<h2 class="fl">发货评分：</h2>
			<div class="fl clearfix xxs send">
				<span onclick="$('#send').val(1)"></span>
				<span onclick="$('#send').val(2)"></span>
				<span onclick="$('#send').val(3)"></span>
				<span onclick="$('#send').val(4)"></span>
				<span onclick="$('#send').val(5)"></span>
			</div>
		</div>
		<div class="xx clearfix bgc">
			<h2 class="fl">物流评分：</h2>
			<div class="fl clearfix xxs shipping">
				<span onclick="$('#shipping').val(1)"></span>
				<span onclick="$('#shipping').val(2)"></span>
				<span onclick="$('#shipping').val(3)"></span>
				<span onclick="$('#shipping').val(4)"></span>
				<span onclick="$('#shipping').val(5)"></span>
			</div>
		</div>
        {/if}

		<div class="pl bgc">
			<textarea placeholder="请输入你的评论" name="content" id="content" ></textarea>
			<div class="uploadimg clearfix">
               	<div class="obm fl">
                    <input type="file" id="uploadimgbut" name="img_srcs[]" class="img_file" />
                    <input type="button" class="button" style="background: url('__IMGWAP__/comment_icon.png') center no-repeat;background-size:100%;" />
                </div>
            </div>
		</div>
	</form>
    </div>
</div>
<div class="fb ">
	<a class="hg col tc" href="javascript:;" onclick="$('#comment_form').submit();">发表评论</a> 
</div>

</body>
</html>
<script src="__JSWAP__/jquery.js"></script>
<script src="__JSWAP__/rem.js"></script>
<script src="__JSWAP__/fastclick.js"></script>
<script src="__JSWAP__/swiper-3.4.1.jquery.min.js"></script>
<script src="__JSWAP__/js.js"></script>
<script src="__JSWAP__/layer_mobile/layer.js"></script>
<script>
	//单独页面上的js
	$('.comment_rank span').click(function(){
		$(this).siblings().removeClass('on')
		$(this).prevAll().addClass('on');
		$(this).addClass('on')
	})

	$('.server span').click(function(){
		$(this).siblings().removeClass('on')
		$(this).prevAll().addClass('on');
		$(this).addClass('on')
	})

	$('.send span').click(function(){
		$(this).siblings().removeClass('on')
		$(this).prevAll().addClass('on');
		$(this).addClass('on')
	})

	$('.shipping span').click(function(){
		$(this).siblings().removeClass('on')
		$(this).prevAll().addClass('on');
		$(this).addClass('on')
	})
</script>

<script>
    // 删除选中图片
    function delImg(obj){
        console.log($(obj).parents('.li'))
        $(obj).parents('.li').remove()
        if($('.uploadimg .li').length < 6){ //限制6个
            $("#uploadimgbut").show()
            $('.button').show()
        }
    }

    //单独页面上的js
    $(function(){
          FastClick.attach(document.body);
          var img_num = 0;
        // passwordchange('.ad2 .adchange');
        // 显示缩略图
        // $('#uploadimgbut').bind('change',function(){
        $(document).on('change', '#uploadimgbut', function(){
        // $('.pics').on('change', ".img_file",function(){
            var typeRes = checkType('uploadimgbut', 1);
            if(!typeRes){
                return false;
            }
            var self = $(this);
            var files = this.files, file;
            if (files && files.length > 0) {
                // 获取目前上传的文件
                file = files[0];
                //读取图片信息
                var reader = new FileReader();
                reader.readAsDataURL(file);
                reader.onload = function(e){
                    $('.uploadimg .obm').before('<div class="li fl" style="margin-bottom: 0.4rem;"><img src="'+ this.result +'"/><em class="guan"> </em><div class="minus" onclick="delImg(this)"></div></div>');
                    // $("#uploadimgbut").clone(true).attr('id', 'img_'+img_num).css("display", "none").prependTo('.uploadimg .li:last');
                    $("#uploadimgbut").attr('id', 'img_'+img_num).css("display", "none").prependTo('.uploadimg .li:last');
                    $('.obm').append('<input type="file" id="uploadimgbut" name="img_srcs[]" class="img_file" />');
                    // $("#uploadimgbut").val("");
                }
            }
            if($('.uploadimg .li').length ==5){ //限制6个
                self.hide()
                $('.button').hide()
            }
            // if($('.uploadimg .li').length ==0){ 
            //  $('span').hide()
            // }
            $('.uploadimg .li .guan').live('click',function(){
                $(this).parents('.li').remove();
                self.show();
                $('.button').show();
            });

            $('.uploadimg .li').live('click',function(){
                $('.fd').show();
                var src2=$(this).children('img').attr('src');
                console.log(src2);
                $('.fd .pic').children('img').attr('src',src2);
            })
            
        });

        // 判断文件大小
        var maxsize = 2*1024*1024;//2M
        var errMsg = "上传的附件文件不能超过2M！！！";
        var tipMsg = "您的浏览器暂不支持计算上传文件的大小，确保上传文件不要超过2M，建议使用IE、FireFox、Chrome浏览器。";
        var browserCfg = {};
        var ua = window.navigator.userAgent;
        if (ua.indexOf("MSIE")>=1){
            browserCfg.ie = true;
        }else if(ua.indexOf("Firefox")>=1){
            browserCfg.firefox = true;
        }else if(ua.indexOf("Chrome")>=1){
            browserCfg.chrome = true;
        }
        // 判断文件大小
        function checkFileSize(){
            try{
                var obj_file = document.getElementById("fileuploade");
                if(obj_file.value==""){
                    alert("请先选择上传文件");
                    return;
                }
                var filesize = 0;
                if(browserCfg.firefox || browserCfg.chrome ){
                    filesize = obj_file.files[0].size;
                }else if(browserCfg.ie){
                    var obj_img = document.getElementById('tempimg');
                    obj_img.dynsrc=obj_file.value;
                    filesize = obj_img.fileSize;
                }else{
                    alert(tipMsg);
                    return;
                }
                if(filesize==-1){
                    alert(tipMsg);
                    return;
                }else if(filesize>maxsize){
                    alert(errMsg);
                    return;
                }else{
                    alert("文件大小符合要求");
                    return;
                }
            }catch(e){
                alert(e);
            }
        }

        // 判断文件类型是否符合
        function checkType(id_name, type){
            //得到上传文件的值
            var fileName=document.getElementById(id_name).value;
            //返回String对象中子字符串最后出现的位置.
            var seat=fileName.lastIndexOf(".");
            //返回位于String对象中指定位置的子字符串并转换为小写
            var extension=fileName.substring(seat).toLowerCase();
            //判断允许上传的文件格式
            if(type == 1){
                var allowed=[".jpg",".gif",".png",".jpeg"];
            }else{
                var allowed=[".avi",".rmvb",".mp4",".mpeg4"];
            }
            // var allowed=[".jpg",".gif",".png",".jpeg"];
            for(var i=0;i<allowed.length;i++){
                if(!(allowed[i]!=extension)){
                    return true;
                }
            }
            alert("不支持"+extension+"格式");
            return false;
        }

        // 提交
        $('#comment_form').submit(function(){
            var comment_rank = $('#comment_rank').val();
            var server = $('#server').val();
            var send = $('#send').val();
            var shipping = $('#shipping').val();
            var content = $('#content').val();

            if(comment_rank == 0){layer.open({content: '请选择综合评分',skin: 'msg',time: 2});return false; }
            // if(server == 0){layer.open({content: '请选择服务评分',skin: 'msg',time: 2});return false; }
            // if(send == 0){layer.open({content: '请选择发货评分',skin: 'msg',time: 2});return false; }
            // if(shipping == 0){layer.open({content: '请选择物流评分',skin: 'msg',time: 2});return false; }
            if(content == ''){layer.open({content: '请填写评价内容',skin: 'msg',time: 2});return false; }

            var index = layer.open({type: 2,content: '提交加载中'});

            var formData = new FormData($( "#comment_form" )[0]);
            $.ajax({
                url:"{:url('User/do_order_comment')}",
                type:"POST",
                async: false,
                cache: false,
                contentType: false,
                processData: false,
                dataType:'JSON',
                data:formData,
                success:function(msg){
                    if(msg.code == 200){
                        layer.open({
	                        content: msg.message,
	                        btn: '确定',
	                        shadeClose: false,
	                        yes: function(){
	                            window.location.href = "{:url('User/order_list')}";
	                            layer.close(index);
	                        }
	                    });
                    }else{
                        layer.close(index);
                        layer.open({
                            content: msg.message
                            ,skin: 'msg'
                            ,time: 2
                        });
                    }
                    return false;
                }
            })
            return false;
        })
   })
</script>