{include file="public/header" /}
<style type="text/css">
    body{padding-bottom:0;}
    .con10_wrap .con10_con .sh_suc{margin-bottom:.3rem;}
</style>

<body data-psd-width="840" >
<header class="pr hg">
    <a href="{:url('User/index')}"><div class="pa back on "></div></a>
    <h1 class="tc col">我的订单</h1>
</header>   
<div class="content">
    <div class="con10">
        <div class="con10_list bgc">
            <ul>
                <li {if $status eq 0}class="on"{/if} >
                    <a href="{:url('User/order_list',array('status'=>0))}">全部</a>
                </li>
                <li {if $status eq 2}class="on"{/if} >
                    <a href="{:url('User/order_list',array('status'=>2))}">待付款</a>
                </li>
                <li {if $status eq 3}class="on"{/if} >
                    <a href="{:url('User/order_list',array('status'=>3))}">待发货</a>
                </li>
                <li {if $status eq 4}class="on"{/if} >
                    <a href="{:url('User/order_list',array('status'=>4))}">待收货</a>
                </li>
                <li {if $status eq 5}class="on"{/if} >
                    <a href="{:url('User/order_list',array('status'=>5))}">已完成</a>
                </li>
            </ul>
        </div>
        <div class="con10_wrap">
            <div class="con10_con" style="display: block;">
                <div class="tt1" id="load_box">
                    {include file="user/order_list_ajax" /}
                </div>
            </div>
            
         </div>
    </div>
</div>

<input type="hidden" name="status" id="status" value="{$status}">

</body>
</html>
<script src="__JSWAP__/jquery.js"></script>
<script src="__JSWAP__/rem.js"></script>
<script src="__JSWAP__/fastclick.js"></script>
<script src="__JSWAP__/swiper-3.4.1.jquery.min.js"></script>
<script src="__JSWAP__/js.js"></script>

<script src="__JSWAP__/layer_mobile/layer.js"></script>
<script src="__JSWAP__/dropload.min.js"></script>

<script type="text/javascript">
    //评论订单
    function showcomment(order_id){
        $.ajax({
            type: 'GET',
            url: "{:url('User/order_goods_comment')}",
            data:{is_ajax:1,order_id:order_id},
            dataType: 'html',
            success: function(result){
                //自定义标题风格
                layer.open({
                    title: [
                      '请选择评论的商品',
                      'background-color: #FF4351; color:#fff;'
                    ]
                    ,content: result
                });
            }
        });
        return false;
    }

    //重新选择支付
    function showPay(order_id){
        var index = layer.open({type: 2,content: '加载中'});
        $.ajax({
            type: 'GET',
            url: "{:url('User/order_pay_list')}",
            data:{is_ajax:1,order_id:order_id},
            dataType: 'html',
            success: function(result){
                layer.close(index);
                //自定义标题风格
                layer.open({
                    title: [
                      '请选择支付方式',
                      'background-color: #FF4351; color:#fff;'
                    ]
                    ,content: result
                });
            }
        });
        return false;
    }

    //删除订单
    function delete_order(order_id){
        var index = layer.open({type: 2,content: '加载中'});
        $.ajax({
            type: 'GET',
            url: "{:url('User/delete_order')}",
            data:{is_ajax:1,order_id:order_id},
            dataType: 'json',
            success: function(result){
                if(result.code == 200){
                    layer.open({
                        content: result.message,
                        btn: '确定',
                        shadeClose: false,
                        yes: function(){
                            location.reload();
                            layer.close(index);
                        }
                    });
                }else{
                    layer.open({
                        content: result.message
                        ,skin: 'msg'
                        ,time: 2 //2秒后自动关闭
                    });
                    layer.close(index);
                }
            }
        });
        return false;
    }

    //取消订单
    function cancel_order(order_id){
        var index = layer.open({type: 2,content: '加载中'});
        $.ajax({
            type: 'GET',
            url: "{:url('User/cancel_order')}",
            data:{is_ajax:1,order_id:order_id},
            dataType: 'json',
            success: function(result){
                if(result.code == 200){
                    layer.open({
                        content: result.message,
                        btn: '确定',
                        shadeClose: false,
                        yes: function(){
                            location.reload();
                            layer.close(index);
                        }
                    });
                }else{
                    layer.open({
                        content: result.message
                        ,skin: 'msg'
                        ,time: 2 //2秒后自动关闭
                    });
                    layer.close(index);
                }
            }
        });
        return false;
    }
</script>

<script type="text/javascript">
    $(function(){
        var page = 2;//翻页
        var status = $('#status').val();
        
        // dropload
        $('.con10_wrap').dropload({
            scrollArea : window,
            domUp : {
                domClass   : 'dropload-up',
                domRefresh : '<div class="dropload-refresh" style="text-align: center;color:#666;">↓下拉刷新</div>',
                domUpdate  : '<div class="dropload-update" style="text-align: center;color:#666;">↑释放更新</div>',
                domLoad    : '<div class="dropload-load" style="text-align: center;color:#666;"><span class="loading"></span>加载中...</div>'
            },
            domDown : {
                domClass   : 'dropload-down',
                domRefresh : '<div class="dropload-refresh" style="text-align: center;color:#666;">↑上拉加载更多</div>',
                domLoad    : '<div class="dropload-load" style="text-align: center;color:#666;"><span class="loading"></span>加载中...</div>',
                domNoData  : '<div class="dropload-noData" style="height: 35px;line-height: 35px;text-align: center;color: #666;font-size: 16px;">没有数据了</div>'
            },
            loadUpFn : function(me){
                setTimeout(function(){
                   window.location.reload();
                },100); 
            },
            loadDownFn : function(me){
                $.ajax({
                    type: 'GET',
                    url: "{:url('User/order_list')}",
                    data:{is_ajax:1,page:page,status:status},
                    dataType: 'html',
                    success: function(result){
                        page++;
                        setTimeout(function(){
                            //追加页面数据
                            $('#load_box').append(result);
                            // 每次数据加载完，必须重置
                            me.resetload();
                        },500);
                    },
                    error: function(xhr, type){
                        // alert('Ajax error!');
                        // 即使加载出错，也得重置
                        me.resetload();
                        // me.noData();

                    }
                });
            }

        });
    });
</script>