{include file="public/header" /}

<body data-psd-width="840">
<header class="pr hg ">
    <div class="pa back on" onclick="history.go(-1)"></div>
    <h1 class="tc col" style="color: #fff">设置</h1>
</header>   
<div class="content">
    <div class="set bgc">
        <ul>
            <a href="{:url('Article/type_details',array('type_id'=>3,'device'=>'wap'))}"><li class="clearfix"><span class="fl">帮助中心</span><em class="fr icon"></em> </li></a>
            <a href="{:url('Article/type_details',array('type_id'=>4,'device'=>'wap'))}"><li class="clearfix"><span class="fl">版权声明</span><em class="fr icon"></em> </li></a>
            <a href="{:url('Article/type_details',array('type_id'=>5,'device'=>'wap'))}"><li class="clearfix"><span class="fl">平台说明</span><em class="fr icon"></em> </li></a>
            <a href="{:url('User/advise')}"><li class="clearfix"><span class="fl">投诉建议</span><em class="fr icon"></em> </li></a>
            <a href="{:url('Supplier/apply_enter')}"><li class="clearfix"><span class="fl">申请入驻</span><em class="fr icon"></em> </li></a>
            <a href="{:url('Article/type_details',array('type_id'=>6,'device'=>'wap'))}"><li class="clearfix"><span class="fl">关于B2C商城APP</span><em class="fr icon"></em> </li></a>
        </ul>
    </div>
</div>


</body>
</html>
<script src="__JSWAP__/jquery.js"></script>
<script src="__JSWAP__/rem.js"></script>
<script src="__JSWAP__/fastclick.js"></script>
<script src="__JSWAP__/swiper-3.4.1.jquery.min.js"></script>
<script src="__JSWAP__/js.js"></script>
<script>
    //单独页面上的js
</script>