/**********块一*************/
.wrapx {
  background-color: #f1f3fa;
  padding: 40px 0 56px 64px;
  width: 100%;
  box-sizing: border-box;
}
.wrapx .i-wrap {
  width: 1620px;
}
.wrapx h2 {
  padding-left: 20px;
  border-left: 3px solid #3a8eff;
  font-size: 18px;
  color: black;
  font-weight: bold;
  margin-bottom: 24px;
  line-height: 1;
}
.wrapx .i1 {
  width: 73.5%;
  height: 450px;
  background-color: #fff;
  box-shadow: 2px 2px 4px #eee;
  float: left;
  padding: 38px 0 0 5.7%;
  box-sizing: border-box;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.wrapx .i1:hover {
  box-shadow: 1px 1px 16px #999;
  -webkit-transform: translateY(-4px);
  -moz-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  -o-transform: translateY(-4px);
  transform: translateY(-4px);
}
.wrapx .i1 .a1 {
  float: left;
  width: 50%;
  height: 100%;
}
.wrapx .i1 .a1 p {
  background: url(../images/i1.png) no-repeat left 4px;
  padding-left: 20px;
}
.wrapx .i1 .a1 p span {
  font-size: 15px;
  color: #666666;
}
.wrapx .i1 .a1 p i {
  font-size: 15px;
  color: #999999;
}
.wrapx .i1 .a1 .img1 {
  padding: 15% 0 0 15%;
  width: 63%;
  position: relative;
}
.wrapx .i1 .a1 .img1 .a41 {
  position: absolute;
  width: 21%;
  height: 59%;
  background: url(../images/a41.png) no-repeat;
  background-size: cover;
  bottom: -30px;
  right: -22px;
}
.wrapx .i1 .a2 {
  float: left;
  width: 50%;
  height: 100%;
  padding-left: 25px;
  box-sizing: border-box;
}
.wrapx .i1 .a2 .p1 {
  font-size: 14px;
  color: #999999;
  text-align: right;
  padding-right: 34px;
  margin-bottom: 62px;
  line-height: 1;
}
.wrapx .i1 .a2 .p2 {
  font-size: 30px;
  color: #333333;
  margin-bottom: 20px;
  line-height: 1;
}
.wrapx .i1 .a2 .u1 {
  margin-bottom: 20px;
}
.wrapx .i1 .a2 .u1 li {
  float: left;
  width: 88px;
  border-left: 1px solid #eee;
  padding: 2px 0 0 8px;
  color: #666666;
}
.wrapx .i1 .a2 .u1 li b {
  display: block;
  font-size: 12px;
}
.wrapx .i1 .a2 .u1 li .b {
  color: #3a8eff;
}
.wrapx .i1 .a2 .u1 li i {
  display: block;
  font-size: 16px;
}
.wrapx .i1 .a2 .form .t1 {
  float: left;
  width: 310px;
  height: 40px;
  background-color: #f2f2f2;
  border: 1px solid #efefef;
  color: #727272;
  font-size: 14px;
  padding-left: 20px;
  box-sizing: border-box;
}
.wrapx .i1 .a2 .form .t2 {
  float: left;
  width: 84px;
  height: 38px;
  background-color: #959595;
  border: 1px solid #7e7e7e;
  color: #fff;
  text-align: center;
  margin-right: 10px;
  line-height: 40px;
  margin-left: 1px;
}
.wrapx .i1 .a2 .form .t3 {
  float: left;
  width: 40px;
  height: 40px;
  background: url(../images/i2.jpg) no-repeat;
  position: relative;
}
.wrapx .i1 .a2 .form .t3 span {
  position: absolute;
  width: 134px;
  height: 140px;
  background: url(../images/a3.jpg) no-repeat;
  right: 0;
  top: 42px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
}
.wrapx .i1 .a2 .form .t3:hover span {
  opacity: 1;
}
.wrapx .i2 {
  width: 25.5%;
  margin-left: 1%;
  float: left;
}
.wrapx .i2 .i2-inner > div {
  width: 200px;
  height: 238px;
  background-color: #fff;
  font-size: 16px;
  color: #333333;
  float: left;
  text-align: center;
  box-sizing: border-box;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.wrapx .i2 .i2-inner > div:hover {
  box-shadow: 1px 1px 16px #999;
  -webkit-transform: translateY(-4px);
  -moz-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  -o-transform: translateY(-4px);
  transform: translateY(-4px);
}
.wrapx .i2 .i2-inner .d1 {
  padding-top: 40px;
  width: 48.5%;
}
.wrapx .i2 .i2-inner .d1 p {
  font-size: 28px;
}
.wrapx .i2 .i2-inner .d1 p span {
  font-size: 16px;
}
.wrapx .i2 .i2-inner .d1 i {
  display: block;
  background: url(../images/a5.png) no-repeat center;
  height: 68px;
  margin-bottom: 26px;
}
.wrapx .i2 .i2-inner .d1:hover {
  background-color: #509afe;
  color: #fff;
}
.wrapx .i2 .i2-inner .d1:hover i {
  background-image: url(../images/a5x.png);
}
.wrapx .i2 .i2-inner .d2 {
  margin-left: 3%;
  padding-top: 52px;
  width: 48.5%;
}
.wrapx .i2 .i2-inner .d2 i {
  display: block;
  background: url(../images/a6.png) no-repeat center;
  width: 86px;
  height: 86px;
  margin: 0 auto 31px;
  border-radius: 100%;
  border: 1px dashed #ccc;
  box-sizing: border-box;
}
.wrapx .i2 .i2-inner .d2:hover {
  background-color: #509afe;
  color: #fff;
}
.wrapx .i2 .i2-inner .d2:hover i {
  background-image: url(../images/a6x.png);
  border: 1px dashed #fff;
}
.wrapx .i2 ul {
  margin-top: 20px;
  position: relative;
  height: 192px;
}
.wrapx .i2 ul li {
  width: 33.3%;
  float: left;
  position: absolute;
  background-color: #fff;
  text-align: center;
  font-size: 16px;
  color: #333333;
  box-sizing: border-box;
  padding-top: 36px;
  height: 192px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.wrapx .i2 ul li i {
  display: block;
  width: 86px;
  height: 86px;
  margin: 0 auto 31px;
  border-radius: 100%;
  border: 1px dashed #ccc;
  box-sizing: border-box;
  position: relative;
}
.wrapx .i2 ul li i span {
  position: absolute;
  width: 36px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 16px;
  color: #fff;
  border-radius: 14px;
  background-color: #ff5959;
  top: 0;
  right: -8px;
}
.wrapx .i2 ul li:nth-child(1) i {
  background: url(../images/a7.png) no-repeat center;
}
.wrapx .i2 ul li:nth-child(2) {
  margin-left: 33.3%;
}
.wrapx .i2 ul li:nth-child(2) i {
  background: url(../images/a8.png) no-repeat center;
}
.wrapx .i2 ul li:nth-child(3) {
  margin-left: 66.6%;
}
.wrapx .i2 ul li:nth-child(3) i {
  background: url(../images/a9.png) no-repeat center;
}
.wrapx .i2 ul li:hover {
  background-color: #4493ff;
  color: #fff;
  -webkit-box-shadow: 1px 1px 16px #999;
  -moz-box-shadow: 1px 1px 16px #999;
  z-index: 99;
  -webkit-transform: translateY(-4px);
  -moz-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  -o-transform: translateY(-4px);
  transform: translateY(-4px);
}
.wrapx .i2 ul li:hover:nth-child(1) i {
  background: url(../images/a7x.png) no-repeat center;
  border-color: #fff;
}
.wrapx .i2 ul li:hover:nth-child(2) i {
  background: url(../images/a8x.png) no-repeat center;
  border-color: #fff;
}
.wrapx .i2 ul li:hover:nth-child(3) i {
  background: url(../images/a9x.png) no-repeat center;
  border-color: #fff;
}
.wrapx2 {
  padding: 56px 0 0 64px;
  box-sizing: border-box;
}
.wrapx2 h2 {
  padding-left: 20px;
  border-left: 3px solid #3a8eff;
  font-size: 18px;
  color: black;
  font-weight: bold;
  margin-bottom: 24px;
  line-height: 1;
}
.wrapx2 .w-inner {
  width: 89%;
}
.wrapx2 .w-inner > div {
  width: 49%;
  float: left;
  margin-bottom: 40px;
  border: 1px solid #eee;
  box-sizing: border-box;
  padding: 3% 0 0 3%;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.wrapx2 .w-inner > div:hover {
  box-shadow: 1px 1px 16px #ccc;
  -webkit-transform: translateY(-4px);
  -moz-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  -o-transform: translateY(-4px);
  transform: translateY(-4px);
}
.wrapx2 .w-inner > div table {
  border: none;
  color: #333333;
  font-size: 14px;
  width: 95%;
}
.wrapx2 .w-inner > div table th {
  border: none;
  background-color: #f7f7f7;
  border: 1px solid #eee;
  line-height: 50px;
}
.wrapx2 .w-inner > div table th:nth-child(1) {
  width: 80px;
}
.wrapx2 .w-inner > div table th:nth-child(2) {
  width: 140px;
}
.wrapx2 .w-inner > div table th:nth-child(3) {
  width: 140px;
}
.wrapx2 .w-inner > div table th:nth-child(4) {
  width: 140px;
}
.wrapx2 .w-inner > div table th:nth-child(5) {
  width: 184px;
}
.wrapx2 .w-inner > div table td {
  border: none;
  line-height: 50px;
  text-align: center;
  border-bottom: 1px solid #eee;
}
.wrapx2 .w-inner > div table td:nth-child(4) {
  color: #999999;
}
.wrapx2 .w-inner > div table td:nth-child(5) {
  color: #999999;
}
.wrapx2 .w-inner > div table tr:hover {
  background-color: #eee;
}
.wrapx2 .w-inner > div table tr:last-child td {
  border-bottom: none;
}
.wrapx2 .w-inner > div table .blue {
  color: #3a8eff;
}
.wrapx2 .w-inner > div table .green {
  color: #53cf5d;
}
.wrapx2 .w-inner > div table .red {
  color: #ff5959;
}
.wrapx2 .w-inner .w2 {
  float: right;
}
@media (max-width: 1718px) {
  .wrapx {
    padding-right: 30px;
  }
}
@media (max-width: 1698px) {
  .wrapx .i-wrap {
    width: 100%;
  }
}
@media (max-width: 1291px) {
  .wrapx2 {
    padding-right: 20px;
  }
  .wrapx2 .w-inner {
    width: 100%;
    margin: 0 auto;
  }
  .wrapx2 .w-inner > div {
    width: 100%;
  }
}
@media (max-width: 1215px) {
  .wrapx h2 {
    width: 78%;
    margin: 0 auto;
    margin-bottom: 24px;
  }
  .wrapx .i-wrap {
    width: 80%;
    margin: 0 auto;
  }
  .wrapx .i1 {
    float: none;
    height: auto;
    padding-bottom: 146px;
    width: 100%;
  }
  .wrapx .i1 .a1 {
    float: none;
    width: 80%;
  }
  .wrapx .i1 .a2 {
    float: none;
    width: 100%;
    margin-top: 40px;
  }
  .wrapx .i1 .a2 .p1 {
    text-align: left;
  }
  .wrapx .i2 {
    float: none;
    width: 100%;
    margin-left: 0;
    margin-top: 60px;
  }
  .wrapx2 .w-inner {
    width: 80%;
  }
}
@media (max-width: 734px) {
  .wrapx h2 {
    width: 100%;
  }
  .wrapx .i-wrap {
    width: 100%;
  }
  .wrapx2 .w-inner {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .wrapx {
    padding-left: 10px;
    padding-right: 10px;
  }
  .wrapx2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 476px) {
  .wrapx .i1 .a2 .form .t1 {
    margin-bottom: 12px;
  }
}
/*# sourceMappingURL=ht.css.map */
