{include file="public/header" /}
<style type="text/css">
    .sps3 a{width: 49.9%;}
    .nav_title{line-height: 0.9rem;font-size: 0.4rem;color: #666;border-left: 3px solid #c01414;padding-left: 0.2rem;}
    .tur5 .tur5_list{padding:0px;}
    .tur5 .fpx .item{padding:0px 0.3rem;}
    .coid{padding-left:0.3rem;padding-right:0.3rem;}
    select{padding: 0.2rem;border: 1px solid #ccc;}
</style>

<body data-psd-width="840">
<header class="pr hg ">
    <a href="{:url('User/index')}"><div class="pa back on"></div></a>
    <h1 class="tc col" style="color: #fff">申请入驻</h1>
</header>   
{if $info.contacts_name eq ''}
<div class="sps sps3 clearfix">
    <a href="{:url('Supplier/apply_enter')}">个人</a>
    <a class="on" href="javascript:;">公司</a>
</div>
{/if}
<div class="content ">
    <div class="con11">
        <div class="tur5">
             <div class="tur5_list fpx  bgc">
             <form action="{:url('Supplier/do_apply_enter_company')}" method="post" enctype="multipart/form-data" style="padding-top:0.3rem;" id="apply_form" onsubmit="return checkForm();">
                <p class="nav_title">公司及联系人信息</p>
                <div class="item clearfix item3">
                    <span ><font color="red">*</font>公司名称：</span>
                    <div class="gr fr clearfix">
                        <input class="fl" type="text" placeholder="请输入公司名称" name="company_name" id="company_name" value="{$info.company_name}">
                    </div>
                </div>
                <div class="item clearfix item3" {if $info.province_name neq ''}style="height:2.2rem;"{/if} >
                    <span ><font color="red">*</font>公司所在地：</span>
                    <div class="gr fr clearfix" {if $info.province_name neq ''}style="height:2.2rem;"{/if} >
                        <input type="hidden" id="pkey" value="0">
                        <select name="province" id="province" onChange="getRegionC()">
                            <option value="0">请选择</option>
                            {foreach $regionP as $key => $vo}
                            <option value="{$vo.region_id}" key="{$vo.pkey}">{$vo.region_name}</option>
                            {/foreach}
                        </select>
                        <select name="city" id="city" onChange="getRegionD()">
                            <option value="0">请选择</option>
                        </select>
                        <select name="district" id="district">
                            <option value="0">请选择</option>
                        </select><br/>
                        {if $info.province_name neq ''}{$info.province_name} {$info.city_name} {$info.district_name}{/if}
                    </div>
                </div>
                <div class="item clearfix item3">
                    <span ><font color="red">*</font>公司详细地址：</span>
                    <div class="gr fr clearfix">
                        <input class="fl" type="text" placeholder="请输入公司详细地址" name="address" id="address" value="{$info.address}">
                    </div>
                </div>
                <div class="item clearfix item3">
                    <span ><font color="red">*</font>公司类型：</span>
                    <div class="gr fr clearfix">
                        <select name="company_type" id="company_type" style="width:100%;">
                            <option value="">请选择</option>
                            <option value="私营企业" {if $info.company_type eq '私营企业'}selected="selected"{/if} >私营企业</option>
                            <option value="个体户" {if $info.company_type eq '个体户'}selected="selected"{/if} >个体户</option>
                            <option value="外企" {if $info.company_type eq '外企'}selected="selected"{/if} >外企</option>
                            <option value="中外合资" {if $info.company_type eq '中外合资'}selected="selected"{/if} >中外合资</option>
                        </select>
                    </div>
                </div>
                <div class="item clearfix item3">
                    <span ><font color="red">*</font>公司电话：</span>
                    <div class="gr fr clearfix">
                        <input class="fl" type="text" placeholder="请输入公司电话" name="tel" id="tel" value="{$info.tel}">
                    </div>
                </div>
                <div class="item clearfix item3">
                    <span ><font color="red">*</font>公司规模：</span>
                    <div class="gr fr clearfix">
                        <input class="fl" type="text" placeholder="请输入公司规模" name="guimo" {if $info.guimo eq ''}value="员工总数：XX人；注册资金：XX万元"{else}value="{$info.guimo}"{/if} >
                    </div>
                </div>
                <div class="item clearfix item3">
                    <span ><font color="red">*</font>联系人姓名：</span>
                    <div class="gr fr clearfix">
                        <input class="fl" type="text" placeholder="请输入联系人姓名" name="contacts_name" id="contacts_name" value="{$info.contacts_name}">
                    </div>
                </div>
                <div class="item clearfix item3">
                    <span ><font color="red">*</font>联系人电话：</span>
                    <div class="gr fr clearfix">
                        <input class="fl" type="text" placeholder="请输入联系人电话" name="contacts_phone" value="{$info.contacts_phone}">
                    </div>
                </div>
                <div class="item clearfix item3">
                    <span ><font color="red">*</font>电子邮箱：</span>
                    <div class="gr fr clearfix">
                        <input class="fl" type="text" placeholder="请输入电子邮箱" name="email" id="email" value="{$info.email}">
                    </div>
                </div>

                <p class="nav_title" style="margin-top:0.3rem;">营业执照信息（副本）</p>
                <div class="item clearfix item3">
                    <span ><font color="red">*</font>营业执照号：</span>
                    <div class="gr fr clearfix">
                        <input class="fl" type="text" placeholder="请输入营业执照号" name="business_licence_number" id="business_licence_number" value="{$info.business_licence_number}">
                    </div>
                </div>
                <div class="item clearfix item3">
                    <span ><font color="red">*</font>法定经营范围：</span>
                    <div class="gr fr clearfix">
                        <input class="fl" type="text" placeholder="请输入法定经营范围" name="business_sphere" id="business_sphere" value="{$info.business_sphere}">
                    </div>
                </div>
                <div class="coid clearfix bgc">
                    <span class="coid_l">营业执照号电子版：</span>
                    <div class="coid_r">
                        <div class="adb23">
                            <div class="uploadimg clearfix">
                                <div class="obm fl">
                                    <div class="upload_box">
                                        <span class="btn_upload" style="float:left;margin-right:0.2rem;"><input type="file" class="upload_pic" name="zhizhao" id="zhizhao" onchange="javascript:setImagePreviews('zhizhao','zhizhao_box','168px','100px');" /></span>
                                        <div id="zhizhao_box">{if $info.zhizhao}<img src="{$webUrl}/{$info.zhizhao}" height="93">{/if}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <font color="#ccc">请确保图片清晰，文字可辨并有清晰的红色公章。</font>
                    </div>
                </div>

                <p class="nav_title" style="margin-top:0.3rem;">组织机构代码证</p>
                <div class="item clearfix item3">
                    <span ><font color="red">*</font>组织机构代码：</span>
                    <div class="gr fr clearfix">
                        <input class="fl" type="text" placeholder="请输入组织机构代码" name="organization_code" id="organization_code" value="{$info.organization_code}">
                    </div>
                </div>
                <div class="coid clearfix bgc">
                    <span class="coid_l"><font color="red">*</font>组织机构代码证电子版：</span>
                    <div class="coid_r">
                        <div class="adb23">
                            <div class="uploadimg clearfix">
                                <div class="obm fl">
                                    <div class="upload_box">
                                        <span class="btn_upload" style="float:left;margin-right:0.2rem;"><input type="file" class="upload_pic" name="organization_code_electronic" id="organization_code_electronic" onchange="javascript:setImagePreviews('organization_code_electronic','organization_code_electronic_box','168px','100px');" /></span>
                                        <div id="organization_code_electronic_box">{if $info.organization_code_electronic}<img src="{$webUrl}/{$info.organization_code_electronic}" height="93">{/if}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <font color="#ccc">请确保图片清晰，文字可辨并有清晰的红色公章。</font>
                    </div>
                </div>

                <p class="nav_title" style="margin-top:0.3rem;">一般纳税人证明</p>
                <div class="coid clearfix bgc">
                    <span class="coid_l"><font color="#ccc">*</font>一般纳税人证明：</span>
                    <div class="coid_r">
                        <div class="adb23">
                            <div class="uploadimg clearfix">
                                <div class="obm fl">
                                    <div class="upload_box">
                                        <span class="btn_upload" style="float:left;margin-right:0.2rem;"><input type="file" class="upload_pic" name="general_taxpayer" id="general_taxpayer" onchange="javascript:setImagePreviews('general_taxpayer','general_taxpayer_box','168px','100px');" /></span>
                                        <div id="general_taxpayer_box">{if $info.general_taxpayer}<img src="{$webUrl}/{$info.general_taxpayer}" height="93">{/if}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <font color="red">注：所属企业具有一般纳税人证明时，此项为必填。</font><br/>
                        <font color="#ccc">请确保图片清晰，文字可辨并有清晰的红色公章。</font>
                    </div>
                </div>

                <p class="nav_title" style="margin-top:0.3rem;">开户银行信息</p>
                <div class="item clearfix item3">
                    <span ><font color="red">*</font>银行开户名：</span>
                    <div class="gr fr clearfix">
                        <input class="fl" type="text" placeholder="请输入银行开户名" name="bank_account_name" id="bank_account_name" value="{$info.bank_account_name}">
                    </div>
                </div>
                <div class="item clearfix item3">
                    <span ><font color="red">*</font>公司银行账号：</span>
                    <div class="gr fr clearfix">
                        <input class="fl" type="text" placeholder="请输入公司银行账号" name="bank_account_number" id="bank_account_number" value="{$info.bank_account_number}">
                    </div>
                </div>
                <div class="item clearfix item3">
                    <span ><font color="red">*</font>开户支行名称：</span>
                    <div class="gr fr clearfix">
                        <input class="fl" type="text" placeholder="请输入开户银行支行名称" name="bank_name" id="bank_name" value="{$info.bank_name}">
                    </div>
                </div>
                <div class="item clearfix item3">
                    <span ><font color="#ccc">*</font>支行联行号：</span>
                    <div class="gr fr clearfix">
                        <input class="fl" type="text" placeholder="选填" name="bank_code" id="bank_code" value="{$info.bank_code}">
                    </div>
                </div>
                <div class="coid clearfix bgc">
                    <span class="coid_l"><font color="#ccc">*</font>开户银行许可证电子版：</span>
                    <div class="coid_r">
                        <div class="adb23">
                            <div class="uploadimg clearfix">
                                <div class="obm fl">
                                    <div class="upload_box">
                                        <span class="btn_upload" style="float:left;margin-right:0.2rem;"><input type="file" class="upload_pic" name="bank_licence_electronic" id="bank_licence_electronic" onchange="javascript:setImagePreviews('bank_licence_electronic','bank_licence_electronic_box','168px','100px');" /></span>
                                        <div id="bank_licence_electronic_box">{if $info.bank_licence_electronic}<img src="{$webUrl}/{$info.bank_licence_electronic}" height="93">{/if}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <font color="#ccc">请确保图片清晰，文字可辨并有清晰的红色公章。</font>
                    </div>
                </div>
                <div class="item clearfix item3">
                    <span ></span>
                    <div class="gr fr clearfix">
                        <input id="is_settlement_account" name="is_settlement_account" type="checkbox" onclick="cin()" style="width:20px;height:0.4rem;">
                        <label for="is_settlement_account">此账号为结算账号</label>
                    </div>
                </div>

                <p class="nav_title" style="margin-top:0.3rem;">结算账号信息</p>
                <div class="item clearfix item3">
                    <span ><font color="red">*</font>银行开户名：</span>
                    <div class="gr fr clearfix">
                        <input class="fl" type="text" placeholder="请输入银行开户名" name="settlement_bank_account_name" id="settlement_bank_account_name" value="{$info.settlement_bank_account_name}">
                    </div>
                </div>
                <div class="item clearfix item3">
                    <span ><font color="red">*</font>公司银行账号：</span>
                    <div class="gr fr clearfix">
                        <input class="fl" type="text" placeholder="请输入公司银行账号" name="settlement_bank_account_number" id="settlement_bank_account_number" value="{$info.settlement_bank_account_number}">
                    </div>
                </div>
                <div class="item clearfix item3">
                    <span ><font color="red">*</font>开户支行名称：</span>
                    <div class="gr fr clearfix">
                        <input class="fl" type="text" placeholder="请输入开户银行支行名称" name="settlement_bank_name" id="settlement_bank_name" value="{$info.settlement_bank_name}">
                    </div>
                </div>
                <div class="item clearfix item3">
                    <span ><font color="#ccc">*</font>支行联行号：</span>
                    <div class="gr fr clearfix">
                        <input class="fl" type="text" placeholder="选填" name="settlement_bank_code" id="settlement_bank_code" value="{$info.settlement_bank_code}">
                    </div>
                </div>

                <p class="nav_title" style="margin-top:0.3rem;">税务登记证</p>
                <div class="item clearfix item3">
                    <span ><font color="red">*</font>税务登记证号：</span>
                    <div class="gr fr clearfix">
                        <input class="fl" type="text" placeholder="请输入税务登记证号" name="tax_registration_certificate" id="tax_registration_certificate" value="{$info.tax_registration_certificate}">
                    </div>
                </div>
                <div class="item clearfix item3">
                    <span ><font color="red">*</font>纳税人识别号：</span>
                    <div class="gr fr clearfix">
                        <input class="fl" type="text" placeholder="请输入纳税人识别号" name="taxpayer_id" id="taxpayer_id" value="{$info.taxpayer_id}">
                    </div>
                </div>
                <div class="coid clearfix bgc">
                    <span class="coid_l"><font color="red">*</font>税务登记证号电子版：</span>
                    <div class="coid_r">
                        <div class="adb23">
                            <div class="uploadimg clearfix">
                                <div class="obm fl">
                                    <div class="upload_box">
                                        <span class="btn_upload" style="float:left;margin-right:0.2rem;"><input type="file" class="upload_pic" name="tax_registration_certificate_electronic" id="tax_registration_certificate_electronic" onchange="javascript:setImagePreviews('tax_registration_certificate_electronic','tax_registration_certificate_electronic_box','168px','100px');" /></span>
                                        <div id="tax_registration_certificate_electronic_box">{if $info.tax_registration_certificate_electronic}<img src="{$webUrl}/{$info.tax_registration_certificate_electronic}" height="93">{/if}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <font color="#ccc">请确保图片清晰，文字可辨并有清晰的红色公章。</font>
                    </div>
                </div>

                <p class="nav_title" style="margin-top:0.3rem;">店铺经营信息</p>
                <div class="item clearfix item3">
                    <span ><font color="red">*</font>店铺名称：</span>
                    <div class="gr fr clearfix">
                        <input class="fl" type="text" placeholder="请输入店铺名称" name="supplier_name" value="{$info.supplier_name}">
                    </div>
                </div>
                <div class="item clearfix item3">
                    <span ><font color="red">*</font>店铺分类：</span>
                    <div class="gr fr clearfix">
                        <select name="type_id" id="type_id" style="width:100%;">
                            <option value="0">请选择</option>
                            {foreach $type_id_arr as $key => $vo}
                            <option value="{$vo.str_id}" {if $info.type_id eq $vo.str_id}selected="selected"{/if} >{$vo.str_name}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>

                {if ($info.status eq 0 and $info.applynum eq 0) or ($info.status eq -1 and $info.applynum eq 3)}
                <p class="nav_title" style="margin-top:0.3rem;">入驻协议</p>
                <div class="item clearfix item3">
                    <span ><font color="red">*</font>入驻协议</span>
                    <div class="gr fr clearfix">
                        <input id="agreement" name="agreement" type="checkbox" checked="checked" style="width:20px;height:0.4rem;margin-top: 0.4rem;" value="1">
                        <label>我已阅读并同意<a href="{:url('Article/news_details',array('id'=>$info['article_id'],'device'=>'wap'))}">《入驻协议》</a></label>
                    </div>
                </div>
                {/if}

                </form>
             </div>
        </div>
    </div>
    
    {if $info.status eq 0 and $info.applynum eq 0}
    <div class="lif clearfix">  
        <a class="hg a3" href="javascript:;" onclick="$('#apply_form').submit();">提交申请</a>
    </div>
    {/if}

    {if $info.status eq 0 and $info.applynum eq 3}
    <div class="lif clearfix">  
        <a class="hg a3" href="javascript:;" style="background:#ccc;">等待审核</a>
    </div>
    {/if}

    {if $info.status eq -1 and $info.applynum eq 3}
    <div class="lif clearfix">  
        <a class="hg a3" href="javascript:;" onclick="$('#apply_form').submit();">更新申请</a>
    </div>
    {/if}

    {if $info.status eq 1 and $info.applynum eq 3}
    <div class="lif clearfix">  
        <a class="hg a3" href="javascript:;" style="background:#ccc;">已通过审核</a>
    </div>
    {/if}

</div>

</body>
</html>

<script src="__JSWAP__/jquery.js"></script>
<script src="__JSWAP__/rem.js"></script>
<script src="__JSWAP__/fastclick.js"></script>
<script src="__JSWAP__/swiper-3.4.1.jquery.min.js"></script>
<script src="__JSWAP__/js.js"></script>

<script src="__JSWAP__/layer_mobile/layer.js"></script>
<script src="__JSWAP__/pace.min.js"></script>
<script type="text/javascript">
//下面用于多图片上传预览功能
function setImagePreviews(file_id,box_id,width,height) {
    var docObj = document.getElementById(file_id);
    var box = document.getElementById(box_id);
    box.innerHTML = "";
    var fileList = docObj.files;
    for (var i = 0; i < fileList.length; i++) {            
        box.innerHTML += "<div style='float:left' > <img id='img_" + box_id + "'  /> </div>";
        var imgObjPreview = document.getElementById("img_"+box_id); 
        if (docObj.files && docObj.files[i]) {
            //火狐下，直接设img属性
            imgObjPreview.style.display = 'block';
            imgObjPreview.style.width = 'auto';
            imgObjPreview.style.height = height;
            //imgObjPreview.src = docObj.files[0].getAsDataURL();
            //火狐7以上版本不能用上面的getAsDataURL()方式获取，需要一下方式
            imgObjPreview.src = window.URL.createObjectURL(docObj.files[i]);
        }
        else {
            //IE下，使用滤镜
            docObj.select();
            var imgSrc = document.selection.createRange().text;
            var localImagId = document.getElementById("img_" + box_id);
            //必须设置初始大小
            localImagId.style.width = width;
            localImagId.style.height = height;
            //图片异常的捕捉，防止用户修改后缀来伪造图片
            try {
                localImagId.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale)";
                localImagId.filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = imgSrc;
            }
            catch (e) {
                alert("您上传的图片格式不正确，请重新选择!");
                return false;
            }
            imgObjPreview.style.display = 'none';
            document.selection.empty();
        }
    }  
    return true;
}
</script>

<script type="text/javascript">
    function getRegionC(){
        var options=$("#province option:selected"); //获取选中的项
        var pkey = options.attr('key');
        $('#pkey').val(pkey);
        var province_id = options.val();
        if(province_id == 0){
            $('#city').html('<option value="0">请选择</option>');
            $('#district').html('<option value="0">请选择</option>');
            return false;
        }
        $.ajax({
            type: "post",
            url: "{:url('User/jsonRegionC')}",
            dataType: 'json',
            data:{pkey:pkey},
            success: function(data){
                var l = '<option value="0">请选择</option>';
                for(var i=0;i<data.length;i++){
                    l += '<option value="'+data[i].region_id+'" key="'+data[i].ckey+'">'+data[i].region_name+'</option>';
                 }
                 $('#city').html(l);
                 return false;
            }  
        });
        //禁止页面刷新
        return false;
    }

    function getRegionD(){
        var options=$("#city option:selected"); //获取选中的项
        var ckey = options.attr('key');
        var pkey = $('#pkey').val();
        var city_id = options.val();
        if(city_id == 0){
            $('#district').html('<option value="0">请选择</option>');
            return false;
        }
        $.ajax({
            type: "post",
            url: "{:url('User/jsonRegionD')}",
            dataType: 'json',
            data:{pkey:pkey,ckey:ckey},
            success: function(data){
                var l = '<option value="0">请选择</option>';
                for(var i=0;i<data.length;i++){
                    l += '<option value="'+data[i].region_id+'" >'+data[i].region_name+'</option>';
                 }
                 $('#district').html(l);
                 return false;
            }  
        });
        //禁止页面刷新
        return false;
    }

    function cin(){
        if( document.getElementById('is_settlement_account').checked == true){
            $('#settlement_bank_account_name').val($('#bank_account_name').val());
            $('#settlement_bank_account_number').val($('#bank_account_number').val());
            $('#settlement_bank_name').val($('#bank_name').val());
            $('#settlement_bank_code').val($('#bank_code').val());
        }else{
            $('#settlement_bank_account_name').val('');
            $('#settlement_bank_account_number').val('');
            $('#settlement_bank_name').val('');
            $('#settlement_bank_code').val('');
        }
    }
</script>

<script type="text/javascript">
    $('#agreement').click(function(){
        if($('#agreement').val() == 1){
            $('#agreement').val(0);
        }else{
            $('#agreement').val(1);
        }
    });

    function checkForm(){
        var company_name = $('#company_name').val();
        if(company_name == ''){
            $('#company_name').focus();
            layer.open({content: '请输入公司名称！',skin: 'msg',time: 2});return false;
        }

        var address = $('#address').val();
        if(address == ''){
            $('#address').focus();
            layer.open({content: '请输入公司详细地址！',skin: 'msg',time: 2});return false;
        }

        var company_type = $('#company_type').val();
        if(company_type == 0){
            $('#company_type').focus();
            layer.open({content: '请选择公司类型！',skin: 'msg',time: 2});return false;
        }

        var tel = $('#tel').val();
        if(tel == 0){
            $('#tel').focus();
            layer.open({content: '请输入公司电话！',skin: 'msg',time: 2});return false;
        }

        var contacts_name = $('#contacts_name').val();
        if(contacts_name == ''){
            $('#contacts_name').focus();
            layer.open({content: '请输入联系人姓名！',skin: 'msg',time: 2});return false;
        }

        var contacts_phone = $('#contacts_phone').val();
        if(contacts_phone == ''){
            $('#contacts_phone').focus();
            layer.open({content: '请输入联系人电话！',skin: 'msg',time: 2});return false;
        }

        var email = $('#email').val();
        if(email == ''){
            $('#email').focus();
            layer.open({content: '请输入邮箱！',skin: 'msg',time: 2});return false;
        }
        var myreg = /^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/;
        if(!myreg.test(email)){
            $('#email').focus();
            layer.open({content: '请输入有效的邮箱！',skin: 'msg',time: 2});return false;
        }

        var business_licence_number = $('#business_licence_number').val();
        if(business_licence_number == ''){
            $('#business_licence_number').focus();
            layer.open({content: '请输入营业执照号！',skin: 'msg',time: 2});return false;
        }

        var business_sphere = $('#business_sphere').val();
        if(business_sphere == ''){
            $('#business_sphere').focus();
            layer.open({content: '请输入法定经营范围！',skin: 'msg',time: 2});return false;
        }

        var organization_code = $('#organization_code').val();
        if(organization_code == ''){
            $('#organization_code').focus();
            layer.open({content: '请输入组织机构代码！',skin: 'msg',time: 2});return false;
        }

        var bank_account_name = $('#bank_account_name').val();
        if(bank_account_name == ''){
            $('#bank_account_name').focus();
            layer.open({content: '请输入银行开户名！',skin: 'msg',time: 2});return false;
        }

        var bank_account_number = $('#bank_account_number').val();
        if(bank_account_number == ''){
            $('#bank_account_number').focus();
            layer.open({content: '请输入公司银行账号！',skin: 'msg',time: 2});return false;
        }

        var bank_name = $('#bank_name').val();
        if(bank_name == ''){
            $('#bank_name').focus();
            layer.open({content: '请输入开户支行名称！',skin: 'msg',time: 2});return false;
        }

        var bank_code = $('#bank_code').val();
        if(bank_code == ''){
            $('#bank_code').focus();
            layer.open({content: '请输入支行联行号！',skin: 'msg',time: 2});return false;
        }

        var tax_registration_certificate = $('#tax_registration_certificate').val();
        if(tax_registration_certificate == ''){
            $('#tax_registration_certificate').focus();
            layer.open({content: '请输入税务登记证号！',skin: 'msg',time: 2});return false;
        }

        var taxpayer_id = $('#taxpayer_id').val();
        if(taxpayer_id == ''){
            $('#taxpayer_id').focus();
            layer.open({content: '请输入纳税人识别号！',skin: 'msg',time: 2});return false;
        }

        var supplier_name = $('#supplier_name').val();
        if(supplier_name == ''){
            $('#supplier_name').focus();
            layer.open({content: '请输入店铺名称！',skin: 'msg',time: 2});return false;
        }

        var type_id = $('#type_id').val();
        if(type_id == 0){
            $('#type_id').focus();
            layer.open({content: '请选择店铺分类！',skin: 'msg',time: 2});return false;
        }

        var agreement = $('#agreement').val();
        if(agreement == 1){
            return true;
        }else{
            layer.open({
                content: '请阅读并同意入驻协议！'
                ,skin: 'msg'
                ,time: 2 //2秒后自动关闭
            });
            return false;
        }
    }
</script>