{include file="public/header" /}

<body data-psd-width="840">
<div class="ss2 hg"> 
    <div class="pa back " onclick="history.go(-1)"></div>
    <div class="search bgc">
        <input type="text" placeholder="搜索">
    </div> 
    <div class="fx clearfix">
        <em class="icon fl"></em>
    </div>
</div>
<div class="dpu clearfix">
    <div class="fl dpu_l clearfix">
        <div class="pic fl"><img src="__IMGWAP__/img2.png"></div>
        <div class="tit fl">
            <h2>新疆特产代购</h2>
            <em class="icon"></em>
        </div>  
    </div>
    <div class="fr dpu_r">
         <h2>16735</h2>
         <p>粉丝数</p>
    </div>
</div>
<div class="content">
    <div class="hm1"><a href=""><img src="__IMGWAP__/img3.png"></a></div>
    <div class="lve bgc">
        <ul class="clearfix">
            <li><a href="">
                <div class="pic"><img src="__IMGWAP__/img1.png"></div>
                <p>正宗新疆库尔勒特级香梨， 新鲜西域香妃梨香酥梨子</p>
                <span><i>￥</i>36.00</span>
            </a></li>
            <li><a href="">
                <div class="pic"><img src="__IMGWAP__/img1.png"></div>
                <p>正宗新疆库尔勒特级香梨， 新鲜西域香妃梨香酥梨子</p>
                <span><i>￥</i>36.00</span>
            </a></li>
            <li><a href="">
                <div class="pic"><img src="__IMGWAP__/img1.png"></div>
                <p>正宗新疆库尔勒特级香梨， 新鲜西域香妃梨香酥梨子</p>
                <span><i>￥</i>36.00</span>
            </a></li>
            <li><a href="">
                <div class="pic"><img src="__IMGWAP__/img1.png"></div>
                <p>正宗新疆库尔勒特级香梨， 新鲜西域香妃梨香酥梨子</p>
                <span><i>￥</i>36.00</span>
            </a></li>
        </ul>
    </div>
    <div class="hm2 mt3"><a href=""><img src="__IMGWAP__/img4.png"></a></div>
    <div class="bgc dp5 clearfix">
        <a href="">关注店铺</a>
        <a href="">联系客服</a>
    </div>
</div>  
</body>
</html>
<script src="__JSWAP__/jquery.js"></script>
<script src="__JSWAP__/rem.js"></script>
<script src="__JSWAP__/fastclick.js"></script>
<script src="__JSWAP__/swiper-3.4.1.jquery.min.js"></script>
<script src="__JSWAP__/js.js"></script>
<script>
    //单独页面上的js
    $(function(){

})
</script>