<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, email=no" />
    <link href="__CSSPC__/style.css" type="text/css" rel="stylesheet" />
    <link href="__CSSPC__/jquery.mCustomScrollbar.css" type="text/css" rel="stylesheet" />
    <title>作品详情</title>
</head>
<body>
<!--header start-->
<div class="header first second fixed">
    {include file="public/nav" /}
    {if condition="$user_id"}
    {include file="public/user_right" /}
    {else/}
    {include file="public/right" /}
    {/if}
</div>
<div class="float_right"></div>
<!--header end-->
<!--main start-->
<div class="rep_bg">
    <div class="rep_wrap">
        <i class="del"></i>
        <div class="mem_rtit">我要举报</div>
        <form class="rep_form tc">
            <div class="item">
                <span>举报对象:</span>
                <div class="r_box">
                    <font class="rep_name">张 三</font>
                </div>
            </div>
            <div class="item">
                <span>原 因:</span>
                <div class="r_box">
                    <select name="" class="select">
                        <option value="">XXXXXXXXXXX</option>
                        <option value="">XXXXXXXXXXXXXXXXXXXXXX</option>
                        <option value="">XXXXXXXXXXX</option>
                    </select>
                </div>
            </div>
            <div class="item w100">
                <input type="button" value="提 交" class="rep_sub nb_t2">
            </div>
        </form>
    </div>
</div>
<div class="p_y">
    <div class="p_ycon2">
        <h4>发送私信</h4>
        <div class="p_ycon2b fix">
            <div class="p_img fl">
                <img src="__IMGPC__/refer/p_peo3.png" alt="">
                <p>UMI</p>
            </div>

            <div class="p_txt fl">
                <textarea placeholder="私信内容"></textarea>
            </div>
        </div>
        <a href="#" class="p_fs nb_t2">发 送</a>
        <div class="p_pclo1"></div>
    </div>
</div>
<div class="ipro_bg"></div>
<div class="ipro_popup">
    <div class="ipro_inner">
        <div class="ipro_content dpro_content">
            <div class="ipro_wrap top">
                <div class="ipro_left">
                    <div class="ipro_piclist clearfix">
                        <div class="box"><img realsrc="__IMGPC__/pic25.jpg" class="lazybg" data-lazyload-img="__IMGPC__/pic25.jpg"></div>
                        <div class="box"><img realsrc="__IMGPC__/pic26.jpg" class="lazybg" data-lazyload-img="__IMGPC__/pic26.jpg"></div>
                    </div>
                    <div class="ipro_txt">
                        <p>Thanks for visiting!</p>
                        <p>If you want to know more about Solo, please, visit our website, Twitter or Facebook Page </p>
                        <p>If you want to know more about Solo, please, visit our website</p>
                        <p>感谢观看！</p>
                    </div>
                    <div class="ipro_zan">
                        <span class="icon"></span>
                    </div>
                    <div class="ipro_share">
                        <div class="icon_bg"><span class="icon"></span></div>
                        <div class="share_box">
                            <a href="" class="weibo"></a>
                            <a href="" class="wechat"></a>
                            <a href="" class="qq"></a>
                            <a href="" class="ins"></a>
                            <a href="" class="talk"></a>
                            <a href="" class="facebook"></a>
                            <a href="" class="twitter"></a>
                        </div>
                    </div>
                    <div class="ipro_com">
                        <h2>其他作品</h2>
                        <div class="ipro_com_top">
                            <ul class="d_plist change6 clearfix">
                                <li class="d_pli">
                                    <div class="card_box">
                                        <div class="card_before">
                                            <div class="card_pic lazybg" data-lazyload-bg="__IMGPC__/pic19.jpg"></div>
                                            <div class="card_info d_pinfo">
                                                <span class="view">23</span>
                                                <span class="zan">88</span>
                                                <span class="favor">33</span>
                                            </div>
                                        </div>
                                        <div class="card_after">
                                            <div class="card_name">作品名称</div>
                                            <div class="card_des">
                                                <p>设计理念，设计理念，设计。</p>
                                                <p>设计，设计设计。</p>
                                                <p>设计理念，设计理念，</p>
                                                <p>设计。</p>
                                            </div>
                                            <div class="card_tag">
                                                <a href="">插画</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="d_pli">
                                    <div class="card_box">
                                        <div class="card_before">
                                            <div class="card_pic lazybg" data-lazyload-bg="__IMGPC__/pic19.jpg"></div>
                                            <div class="card_info d_pinfo">
                                                <span class="view">23</span>
                                                <span class="zan">88</span>
                                                <span class="favor">33</span>
                                            </div>
                                        </div>
                                        <div class="card_after">
                                            <div class="card_name">作品名称</div>
                                            <div class="card_des">
                                                <p>设计理念，设计理念，设计。</p>
                                                <p>设计，设计设计。</p>
                                                <p>设计理念，设计理念，</p>
                                                <p>设计。</p>
                                            </div>
                                            <div class="card_tag">
                                                <a href="">插画</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="d_pli">
                                    <div class="card_box">
                                        <div class="card_before">
                                            <div class="card_pic lazybg" data-lazyload-bg="__IMGPC__/pic19.jpg"></div>
                                            <div class="card_info d_pinfo">
                                                <span class="view">23</span>
                                                <span class="zan">88</span>
                                                <span class="favor">33</span>
                                            </div>
                                        </div>
                                        <div class="card_after">
                                            <div class="card_name">作品名称</div>
                                            <div class="card_des">
                                                <p>设计理念，设计理念，设计。</p>
                                                <p>设计，设计设计。</p>
                                                <p>设计理念，设计理念，</p>
                                                <p>设计。</p>
                                            </div>
                                            <div class="card_tag">
                                                <a href="">插画</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="d_pli">
                                    <div class="card_box">
                                        <div class="card_before">
                                            <div class="card_pic lazybg" data-lazyload-bg="__IMGPC__/pic20.jpg"></div>
                                            <div class="card_info d_pinfo">
                                                <span class="view">23</span>
                                                <span class="zan">88</span>
                                                <span class="favor">33</span>
                                            </div>
                                        </div>
                                        <div class="card_after">
                                            <div class="card_name">作品名称</div>
                                            <div class="card_des">
                                                <p>设计理念，设计理念，设计。</p>
                                                <p>设计，设计设计。</p>
                                                <p>设计理念，设计理念，</p>
                                                <p>设计。</p>
                                            </div>
                                            <div class="card_tag">
                                                <a href="">插画</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="ipro_com_bot">
                            <div class="ipro_com_bot_pf">评论(88)</div>
                            <form class="ipro_com_bot_form">
                                <textarea name="" placeholder="添加评论···"></textarea>
                                <div class="tr"><input type="submit" value="发 表" class="ipro_com_bot_sub nb_t2"></div>
                            </form>
                            <ul class="ipro_com_bot_ul">
                                <li class="clearfix">
                                    <div class="ipro_com_icon">
                                        <i class="comment"></i>
                                        <i class="zan">23</i>
                                        <i class="favor"></i>
                                    </div>
                                    <div class="clearfix">
                                        <a href=""><div class="ipro_com_avatar lazybg" data-lazyload-bg="__IMGPC__/avatar2.jpg"></div></a>
                                        <div class="ipro_com_txt">
                                            <h3><a href=""><b>Adam</b></a><span>2017-08-24 19:03:01</span></h3>
                                            <p>设计很时尚！</p>
                                        </div>
                                        <div class="ipro_com_rbox">
                                            <form class="ipro_com_bot_form">
                                                <textarea name="" placeholder="添加回复···"></textarea>
                                                <div class="tr"><input type="submit" value="回 复" class="ipro_com_bot_sub nb_t1"></div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="ipro_com_detail">
                                        <em>Brian: </em>Nice Work!
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <div class="ipro_com_icon">
                                        <i class="comment"></i>
                                        <i class="zan">23</i>
                                        <i class="favor"></i>
                                    </div>
                                    <div class="clearfix">
                                        <a href=""><div class="ipro_com_avatar lazybg" data-lazyload-bg="__IMGPC__/avatar2.jpg"></div></a>
                                        <div class="ipro_com_txt">
                                            <h3><a href=""><b>Adam</b></a><span>2017-08-24 19:03:01</span></h3>
                                            <p>设计很时尚！</p>
                                        </div>
                                        <div class="ipro_com_rbox">
                                            <form class="ipro_com_bot_form">
                                                <textarea name="" placeholder="添加回复···"></textarea>
                                                <div class="tr"><input type="submit" value="回 复" class="ipro_com_bot_sub nb_t1"></div>
                                            </form>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="ipro_right">
                    <div class="ipro_right_bef">
                        <div class="ipd_rtop">
                            <div class="ipd_user clearfix">
                                <div class="avatar">
                                    <a href=""><span class="lazybg" data-lazyload-bg="__IMGPC__/avatar4.jpg"></span></a>
                                    <div class="avatar_box">
                                        <div class="avatar_wrap">
                                            <div class="ava_top clearfix">
                                                <a href=""><div class="ava_pic lazybg" data-lazyload-bg="__IMGPC__/avatar4.jpg"></div></a>
                                                <div class="ava_txt">
                                                    <a href=""><h2>Marco</h2></a>
                                                    <p>设计师</p>
                                                </div>
                                                <a href="javascript:void(0);" class="ava_talk nb_t1">私 信</a>
                                            </div>
                                            <div class="ava_bot">
                                                <ul class="clearfix">
                                                    <li><span>T恤作品</span>
                                                        <a href=""><font>23</font></a>
                                                    </li>
                                                    <li><span>设计作品</span>
                                                        <a href=""><font>23</font></a>
                                                    </li>
                                                    <li><span>粉丝</span>
                                                        <a href=""><font>23</font></a>
                                                    </li>
                                                    <li><span>话题</span>
                                                        <a href=""><font>23</font></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text">
                                    <a href=""><h2>Marco</h2></a>
                                    <span class="follow nb_t2">关 注</span>
                                </div>
                            </div>
                            <div class="ipd8">
                                <div class="ipd_detail">
                                    <div class="tag_list">
                                        <h2>作品名称</h2>
                                        <a href="">插画</a>，<a href="">界面设计</a>，<a href="">工业设计</a>，<a href="">建筑</a>，<a href="">交互设计</a>
                                    </div>
                                    <p class="des"><span class="view">23</span><span class="zan">23</span><span class="comment">23</span><span class="favor"></span></p>
                                    <div class="time">发布时间：2017-01-07</div>
                                </div>
                                <div class="ipd_tag">
                                    <h2>Tags</h2>
                                    <div><a href="">标签1</a><a href="">标签2</a><a href="">标签标签3</a><a href="">标签1</a><a href="">标签2</a></div>
                                </div>
                                <div class="ipd_rbot_wrap">
                                    <div class="ipd_favar nb_t5"><i></i>收 藏</div>
                                    <div class="ipd_exp2 clearfix">
                                        <div class="ipd_exp_txt"><span>版权声明</span>
                                            <div class="ipd_exp_box">
                                                <p>原创；禁止匿名转载；禁止商业使用；<br/>禁止个人使用。</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ipd_rbot">
                            <div class="share_box">
                                <a href="" class="weibo"></a>
                                <a href="" class="wechat"></a>
                                <a href="" class="qq"></a>
                                <a href="" class="ins"></a>
                                <a href="" class="talk"></a>
                                <a href="" class="facebook"></a>
                                <a href="" class="twitter"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="js-lightbox-wrap extras-hidden" id="lightbox-wrap">
    <div class="js-blocking" id="lightbox-blocking" style="background-color: rgb(0, 0, 0);opacity: 1;">
        <span class="lightbox-spinner"></span>
    </div>
    <div class="js-lightbox-inner-wrap" id="lightbox-inner-wrap">
        <div class="js-img-wrap" id="lightbox-img-wrap">
            <div class="lightbox-extra control prev js-control js-prev hidden">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" width="60" height="60" viewBox="0 0 60 60" xml:space="preserve">
                    <circle class="lightbox-icon-bg" cx="30" cy="30" r="30"></circle>
                    <path class="lightbox-icon-arrow" d="M36.8,36.4L30.3,30l6.5-6.4l-3.5-3.4l-10,9.8l10,9.8L36.8,36.4z"></path>
                </svg>
            </div>
            <div class="lightbox-extra control next js-control js-next hidden">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" width="60" height="60" viewBox="0 0 60 60" xml:space="preserve">
                    <circle class="lightbox-icon-bg" cx="30" cy="30" r="30"></circle>
                    <path class="lightbox-icon-arrow" d="M24.2,23.5l6.6,6.5l-6.6,6.5l3.6,3.5L37.8,30l-10.1-9.9L24.2,23.5z"></path>
                </svg>
            </div>
            <div class="lightbox-extra control close js-control js-close">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid meet" fill="#FFF">
                    <circle class="lightbox-icon-bg" cx="50" cy="50" r="47.5"></circle>
                    <polygon class="lightbox-icon-close" points="64.5,39.8 60.2,35.5 50,45.7 39.8,35.5 35.5,39.8 45.7,50 35.5,60.2 39.8,64.5 50,54.3 60.2,64.5 64.5,60.2 54.3,50"></polygon>
                </svg>
            </div>
            <div class="lightbox-contents js-contents"></div>
        </div>
    </div>
</div>
<div id="fancybox-loading"></div>
<!--main end-->
<!--footer start-->
<div class="footer tc">
    <ul class="fnav">
        <li><a href="首页.html">OTEE</a></li>
        <li><a href="">协议</a></li>
        <li><a href="">服务</a></li>
        <li><a href="">问题</a></li>
        <li><a href="">联络</a></li>
        <li><a href="">客服</a></li>
        <li><a href="">分享</a></li>
    </ul>
    <p>Copyright © 2017 公司名, All Rights Reserved 粤ICP备18003913号-1</p>
</div>
<!--footer end-->
</body>
</html>
<script src="__JSPC__/jquery.js"></script>
<script src="__JSPC__/ifie8.js"></script>
<script src="__JSPC__/lazybg.js"></script>
<script src="__JSPC__/layer.js"></script>
<script src="__JSPC__/js.js"></script>
<script src="__JSPC__/slick.js"></script>
<script src="__JSPC__/selectordie.min.js"></script>
<script src="__JSPC__/jquery.placeholder.min.js"></script>
<script src="__JSPC__/jquery.dotdotdot.min.js"></script>
<script src='__JSPC__/jquery.zoombie.js'></script>
<script src="__JSPC__/jquery.mCustomScrollbar.concat.min.js"></script>
<script>
    $(function(){
        $('body').addClass('one_detail');
    });
</script>
<script>
    //弹窗代码
    $(function() {
        loadpList(0);

        //详情左边点赞
        $('.ipro_zan .icon').click(function() {
            if ($(this).parents('.ipro_zan').hasClass('on')) {
                $(this).parents('.ipro_zan').removeClass('on');
            } else {
                $(this).parents('.ipro_zan').addClass('on');
            }
        });


        var fav_this;
        //详情左边底下评论点赞举报标记
        $(document).on('click', '.ipro_com_icon i', function() {
            if($(this).hasClass('favor')){
                right_favor = false;
                if($(this).hasClass('on')){ return false; }
                fav_this = $(this);
                $('.rep_bg').fadeIn();
                $('html').addClass('enabled');
                return false;
            }
            if ($(this).hasClass('on')) {
                $(this).removeClass('on');
                if($(this).hasClass('zan')){
                    $(this).text(parseInt($(this).text()) - 1);
                }
                if($(this).hasClass('comment')){
                    $(this).parents('li').find('.ipro_com_rbox').fadeOut();
                    r_top_bot(2);
                }
            } else {
                $(this).addClass('on');
                if($(this).hasClass('zan')){
                    $(this).text(parseInt($(this).text()) + 1);
                }
                if($(this).hasClass('comment')){
                    $(this).parents('li').find('.ipro_com_rbox').fadeIn();
                    r_top_bot(2);
                }
            }
        });

        //举报弹窗（确认）
        $('.rep_form .rep_sub').click(function() {
            var _this = $(this);
            layer.confirm('确定要举报该评论？', {
                title: false,
                closeBtn: 0,
                btn: ['取 消','确 定'] //按钮
            }, function(){
                layer.closeAll();
            }, function(){
                $('.rep_bg').fadeOut();
                $('html').removeClass('enabled');
                if(right_favor){
                    fav_right.addClass('on');
                }else{
                    fav_this.addClass('on');
                }
            });
        });

        //举报弹窗（取消）
        $('.rep_wrap .del').click(function() {
            $('.rep_bg').fadeOut();
            $('html').removeClass('enabled');
        });

        //右边举报
        var right_favor = false;
        var fav_right;
        $('.ipd_detail .des span.favor').click(function() {
            if($(this).hasClass('on')){ return false; }
            $('.rep_bg').fadeIn();
            $('html').addClass('enabled');
            right_favor = true;
            fav_right = $(this);
        });

        //详情右侧点赞
        $(document).on('click', '.ipd_detail .des span.zan', function(event) {
            var zan_num = $(this).text();
            if($(this).hasClass('on')){
                $(this).removeClass('on');
                $(this).text(parseInt(zan_num) - 1);
            }else{
                $(this).addClass('on');
                $(this).text(parseInt(zan_num) + 1);
            }
        });

        r_top_bot();
        $(window).scroll(function() {
            r_top_bot();
        });

        $(window).resize(function() {
            r_top_bot();
        });

        //详情左边图片放大
        var pic_index = 0;
        $('.ipro_piclist img').click(function() {
            pic_index = $(this).attr("data-index");
            picCheck(pic_index);
            $('.js-lightbox-wrap').fadeIn();
            $('.js-contents .js-slide').eq(pic_index).show().siblings().hide();
            picLoad(pic_index);
        });
        $(document).on('click', '.js-slide-content', function() {
            if($('html').hasClass('lightbox-zoomed')){
                $('html').removeClass('lightbox-zoomed');
            }else{
                if($(this).parents('.js-slide').attr("zoom-in") == "true"){
                    $('html').addClass('lightbox-zoomed');
                }
            }
        });
        $('.js-lightbox-wrap').hover(function() {
            $(this).removeClass('extras-hidden')
        }, function() {
            $(this).addClass('extras-hidden');
        });

        //切换
        $('#lightbox-inner-wrap .prev').click(function() {
            pic_index = parseInt(pic_index)-1;
            if(pic_index <= 0){
                pic_index = 0;
            }
            picCheck(pic_index);
            $('.js-contents .js-slide').eq(pic_index).fadeIn().siblings().hide();
            picLoad(pic_index);
        });

        $('#lightbox-inner-wrap .next').click(function() {
            pic_index = parseInt(pic_index)+1;
            if(pic_index >= $('.js-contents .js-slide').length){
                pic_index = $('.js-contents .js-slide').length - 1;
            }
            picCheck(pic_index);
            $('.js-contents .js-slide').eq(pic_index).fadeIn().siblings().hide();
            picLoad(pic_index);
        });

        //详情左边图片关闭
        $('.js-close').click(function() {
            $('.js-lightbox-wrap').fadeOut();
        });

        //点击右边按钮滑到评论区域
        $('.ipd_detail .des span.comment').click(function() {
            $('html,body').stop().animate({ scrollTop: $('.ipro_com_bot').offset().top - $('.header').outerHeight() }, 300);
        });

        //滚动条
        $('.ipro_right_bef .ipd_rtop .ipd8,.ipro_right_after .ipd_rtop').mCustomScrollbar({
            axis: "y",
            scrollInertia: 100,
            scrollButtons: {
                enable: true,
                scrollSpeed: 20
            },
            theme: "3d"
        });

        //显示隐藏私信
        $('.ava_talk,.d_showtalk').click(function() {
            $('body > .p_y').stop(true,true).fadeIn();
            $('html').addClass('enabled');
        });
        $('.p_pclo1').click(function() {
            $('body > .p_y').stop(true,true).fadeOut();
            $('html').removeClass('enabled');
        });
    });
    function loadpList(eq){
        var ihtml = '';
        $('.ipro_content .ipro_wrap').eq(eq).find('.ipro_piclist img').each(function(index, el) {
            $(this).attr("data-index",index);
            ihtml += '<div data-slide-id="'+ index +'" class="js-slide" zoom-in="false"><div class="js-slide-content lightbox-content"><img data-src="'+ $(this).attr("realsrc") +'"></div></div>';
        });
        $('.js-contents').append(ihtml);
    }
    function picCheck(pic_index){
        var pic_length = $('.js-contents .js-slide').length;
        if(pic_index == 0){
            $('.js-prev').addClass('hidden');
        }else{
            $('.js-prev').removeClass('hidden');
        }
        if(pic_index >= pic_length - 1){
            $('.js-next').addClass('hidden');
        }else{
            $('.js-next').removeClass('hidden');
        }
    }
    function picLoad(pic_index){
        if($('.js-contents .js-slide').eq(pic_index).find('img').attr("loaded") == true){
            return false;
        }
        $('.js-contents .js-slide').eq(pic_index).find('img').attr("src", $('.js-contents .js-slide').eq(pic_index).find('img').attr("data-src"));
        $('.js-contents .js-slide').eq(pic_index).find('img').bind('load',function(){
            var nWidth = $(this).naturalWidth();
            var nHeight = $(this).naturalHeight();
            var w_h = nHeight * $(window).width() / nWidth;
            if(nHeight > $(window).height() && w_h > $(window).height()){
                $(this).parents('.js-slide').attr("zoom-in","true");
                $(this).parents('.js-slide-content').addClass('zoomable');
            }
            $('.js-contents .js-slide').eq(pic_index).find('img').attr("loaded",true);
        });
    }
    function r_top_bot(k) { // k=1(otee),k=2(作品)
        $('.ipro_right_bef .ipd_rtop .ipd8').mCustomScrollbar("update");
        var scrollTop = $(window).scrollTop();
        var DivHight = $(".ipro_popup").height();
        var ScrollHight = $(window).height();
        var t_top_h1 = $('.ipro_right_bef .ipd_rtop').outerHeight();
        var t_bot_h1 = $('.ipro_right_bef .share_box').outerHeight();
        var pad = 20;
        if(scrollTop < pad){
            $('.ipro_wrap').removeClass('o_top o_mid o_bot').addClass('o_top');
            if (t_top_h1 > ScrollHight - $('.header').outerHeight() - scrollTop - t_bot_h1) {
                $('.ipro_right_bef .ipd_rbot').css({ "top": t_top_h1 });
            } else {
                $('.ipro_right_bef .ipd_rbot').css({ "position": "absolute","top": ScrollHight - $('.header').outerHeight() - t_bot_h1 - pad + scrollTop });
            }
        }else if(scrollTop >= pad && scrollTop + ScrollHight - $('.header').height() - 2*pad < DivHight){
            $('.ipro_wrap').removeClass('o_top o_mid o_bot').addClass('o_mid');
            $('.ipro_right_bef .ipd_rtop').css({ "height": "calc(100% - " + t_bot_h1 + "px)" });
        }else{
            $('.ipro_wrap').removeClass('o_top o_mid o_bot').addClass('o_bot');
            if(DivHight - scrollTop + pad - t_bot_h1 > t_top_h1){
                var top_dis = DivHight - (DivHight - scrollTop + pad);
            }else{
                var top_dis = DivHight - t_bot_h1 - t_top_h1
            }
            $('.ipro_right_bef .ipd_rtop').css({ "top": top_dis });
        }
        if($('.ipro_wrap').hasClass('o_bot')){
            var bot_dis = $(window).height() - $('.footer').outerHeight() - pad;
            $('.float_right').css({ "bottom": "calc(3% + " + (scrollTop + ScrollHight - $('.header').height() - 2*pad - DivHight) +"px)"})
        }else{
            $('.float_right').css({ "bottom": "3%" })
        }
        $('.ipro_right_bef .ipd_rtop .ipd8').mCustomScrollbar("update");
    }
    (function($){
        var
                props = ['Width', 'Height'],
                prop;

        while (prop = props.pop()) {
            (function (natural, prop) {
                $.fn[natural] = (natural in new Image()) ?
                        function () {
                            return this[0][natural];
                        } :
                        function () {
                            var
                                    node = this[0],
                                    img,
                                    value;

                            if (node.tagName.toLowerCase() === 'img') {
                                img = new Image();
                                img.src = node.src,
                                        value = img[prop];
                            }
                            return value;
                        };
            }('natural' + prop, prop.toLowerCase()));
        }
    }(jQuery));
</script>