{include file="public/header" /}
<body data-psd-width="840">
<header class="pr hg">
    <div class="pa back on" onclick="{:url('Cart/index')}"></div>
    <h1 class="tc col">支付成功</h1>
</header>	
<div class="content">
	<div class="suc tc">
		<img class="suc1" src="__IMGWAP__/icon8.png">
		<h2>订单支付成功！ </h2>
		<p>温馨提醒，商城会尽快安排配送</p>
		<a class="hg a1 " href="{:url('User/order_details',array('order_id'=>$order_id))}">查看我的订单</a>
		<a class="bgc ac " href="{:url('Index/index')}"><img src="__IMGWAP__/home.png">回首页</a>
	</div>
</div>


</body>
</html>
<script src="__JSWAP__/jquery.js"></script>
<script src="__JSWAP__/rem.js"></script>
<script src="__JSWAP__/fastclick.js"></script>
<script src="__JSWAP__/swiper-3.4.1.jquery.min.js"></script>
<script src="__JSWAP__/js.js"></script>
<script>
	//单独页面上的js
</script>