{include file="public/header" /}

<body data-psd-width="840">
<div class="ss" style="position: fixed;"> 
    <div class="header2">
        <div class="search bgc" onclick="window.location.href='{:url('Goods/search')}'">
            <input type="text" placeholder="搜索">
        </div> 
        <a href="{:url('User/my_message')}">
        <div class="inf icon">
            <em class="hc">{$userinfo.message_count}</em>
        </div>
        </a>
    </div>
</div>  
<div class="content" style="margin-top:1rem;">
    <div class="shop">
        <div class="helpt">
            <ul class="clearfix">
                <li {if $sort eq 'sort_order'}class="on"{/if} >
                    <a href="{:url('Goods/index',array('is_real'=>$is_real,'keywords'=>$keywords,'filter'=>$filter,'cat_id'=>$cat_id,'brand'=>$brand))}">综合</a>
                </li>
                <li {if $sort eq 'shop_price'}class="on"{/if}>
                    <a href="{:url('Goods/index',array('is_real'=>$is_real,'keywords'=>$keywords,'filter'=>$filter,'cat_id'=>$cat_id,'brand'=>$brand,'sort'=>'shop_price','order'=>$order_opposite))}">价格</a>
                    <span>
                        <em class="bt {if $sort eq 'shop_price' and $order eq 'asc'}on{/if}"></em>
                        <em class="bd {if $sort eq 'shop_price' and $order eq 'desc'}on{/if}"></em>
                    </span>
                </li>
                <li {if $sort eq 'add_time'}class="on"{/if}>
                    <a href="{:url('Goods/index',array('is_real'=>$is_real,'keywords'=>$keywords,'filter'=>$filter,'cat_id'=>$cat_id,'brand'=>$brand,'sort'=>'add_time','order'=>$order_opposite))}">新品</a>
                    <span>
                        <em class="bt {if $sort eq 'add_time' and $order eq 'asc'}on{/if}"></em>
                        <em class="bd {if $sort eq 'add_time' and $order eq 'desc'}on{/if}"></em>
                    </span>
                    
                </li>
                <li {if $sort eq 'sold_count'}class="on"{/if}>
                    <a href="{:url('Goods/index',array('is_real'=>$is_real,'keywords'=>$keywords,'filter'=>$filter,'cat_id'=>$cat_id,'brand'=>$brand,'sort'=>'sold_count','order'=>$order_opposite))}">销量</a>
                    <span>
                        <em class="bt {if $sort eq 'sold_count' and $order eq 'asc'}on{/if}"></em>
                        <em class="bd {if $sort eq 'sold_count' and $order eq 'desc'}on{/if}"></em>
                    </span>
                    
                </li>
            </ul>
        </div>

        <div class="i6b">
            <ul class="clearfix" style="display: block;" id="load_box">
                {include file="goods/goods_list_ajax" /}
            </ul>
        </div>
    </div>
</div>

{include file="public/footer" /}

</body>
</html>
<script src="__JSWAP__/jquery.js"></script>
<script src="__JSWAP__/rem.js"></script>
<script src="__JSWAP__/fastclick.js"></script>
<script src="__JSWAP__/swiper-3.4.1.jquery.min.js"></script>
<script src="__JSWAP__/js.js"></script>

<script src="__JSWAP__/layer_mobile/layer.js"></script>
<script src="__JSWAP__/dropload.min.js"></script>
<script type="text/javascript">
    $(function(){
        var page = 2;//翻页
        var sort = '{$sort}';
        var order = '{$order}';
        var cat_id = '{$cat_id}';
        var brand = '{$brand}';
        var filter = '{$filter}';
        var keywords = '{$keywords}';
        var is_real = '{$is_real}';

        // dropload
        $('.i6b').dropload({
            scrollArea : window,
            domUp : {
                domClass   : 'dropload-up',
                domRefresh : '<div class="dropload-refresh" style="text-align: center;color:#666;">↓下拉刷新</div>',
                domUpdate  : '<div class="dropload-update" style="text-align: center;color:#666;">↑释放更新</div>',
                domLoad    : '<div class="dropload-load" style="text-align: center;color:#666;"><span class="loading"></span>加载中...</div>'
            },
            domDown : {
                domClass   : 'dropload-down',
                domRefresh : '<div class="dropload-refresh" style="text-align: center;color:#666;">↑上拉加载更多</div>',
                domLoad    : '<div class="dropload-load" style="text-align: center;color:#666;"><span class="loading"></span>加载中...</div>',
                domNoData  : '<div class="dropload-noData" style="height: 35px;line-height: 35px;text-align: center;color: #666;font-size: 16px;">没有数据了</div>'
            },
            loadUpFn : function(me){
                setTimeout(function(){
                   window.location.reload();
                },100); 
            },
            loadDownFn : function(me){
                $.ajax({
                    type: 'GET',
                    url: "{:url('Goods/index')}",
                    data:{is_ajax:1,page:page,sort:sort,order:order,cat_id:cat_id,brand:brand,filter:filter,keywords:keywords,is_real:is_real},
                    dataType: 'html',
                    success: function(result){
                        page++;
                        setTimeout(function(){
                            //追加页面数据
                            $('#load_box').append(result);
                            // 每次数据加载完，必须重置
                            me.resetload();
                        },500);
                    },
                    error: function(xhr, type){
                        // alert('Ajax error!');
                        // 即使加载出错，也得重置
                        me.resetload();
                        // me.noData();

                    }
                });
            }

        });
    });
</script>