<!-- <div class="footer rl_footer"> -->
<div class="footer">
    <div class="w1700 clearfix">
        <ul class="fnav">
            <li><a href="{:url('Help/about_us')}">OTEE</a></li>
            <li><a href="{:url('Help/about_us')}#2">协议</a></li>
            <li><a href="{:url('Help/about_us')}#3">服务</a></li>
            <li><a href="{:url('Help/about_us')}#4">问题</a></li>
            <li><a href="{:url('Help/about_us')}#5">联络</a></li>
            <li><a href="">客服</a></li>
            <li><a href="">分享</a></li>
        </ul>
        <p>Copyright © 2018 {$sys_cfg.shop_name}, All Rights Reserved <a href="http://www.miitbeian.gov.cn/" target="_blank">{$sys_cfg.icp_number}</a></p>
    </div>
</div>