<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{$site_title}</title>
<meta name="keywords" content="{$site_keywords}">
<meta name="description" content="{$site_description}">
<meta name="author" content="互诺科技 - http://www.hunuo.com">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<link href="__CSSPC__/slick.css" type="text/css" rel="stylesheet" />
{if $class neq 'cart'}
<link href="__CSSPC__/m-style.css" type="text/css" rel="stylesheet" />
{else/}
<link href="__CSSPC__/m-style1.css" type="text/css" rel="stylesheet" />
{/if}
<link href="__CSSPC__/c-style.css" type="text/css" rel="stylesheet" />
<link href="__CSSPC__/style.css" type="text/css" rel="stylesheet" />
<script src="__JSPC__/layer/layui.js" charset="utf-8"></script>
<!--[if IE 8]>
<script src="__JSPC__/html5shiv.js"></script>
<![endif]-->
<!--分享-->
<link href="__CSSPC__/share.min.css" type="text/css" rel="stylesheet" />
<!--分享end-->

<link href="__CSSPC__/jquery.mCustomScrollbar.css" type="text/css" rel="stylesheet" />
</head>
