<!--鼠标悬停事件弹出分享-->
<div class="ipro_share">
    <div class="icon_bg"><span class="icon"></span></div>
    <div class="share_box">
        <h1 class="share_title" style="display:none;"></h1>

        <div class="social-share" data-initialized="true" style="text-align: center;"  {if isset($share_data)}  data-url="{$share_data.url}"  data-title="{$share_data.title}" {/if} >
            <a href="#" class="icon-weibo weibo"></a>
            <a href="#" class="icon-wechat wechat"></a>
            <a href="#" class="icon-qq qq"></a>
            <a href="#" class="icon-ins ins"></a>
            <a href="#" class="icon-talk talk"></a>
            <a href="#" class="icon-facebook facebook"></a>
            <a href="#" class="icon-twitter twitter"></a>
        </div>
    </div>
</div>
