<div class="p_y">
    <div class="p_ycon2">
        <h4>发送私信</h4>
        <div class="p_ycon2b fix">
            <div class="p_img fl">
                <img src="" alt="" style="border-radius: 50%; width:72px; height:72px;">
                <p>昵称</p>
            </div>
            <div class="p_txt fl">
                <textarea placeholder="私信内容" name="msg_content"></textarea>
            </div>
            <input id="a_id" value="" type="hidden">
        </div>
        <a href="javascript:void(0);" class="p_fs nb_t2">发 送</a>
        <div class="p_pclo1"></div>
    </div>
</div>