{include file="pageheader.htm"}
{insert_scripts files="validator.js"}

<form action="flashplay.php" method="post" enctype="multipart/form-data" class="layui-form layui-form-pane">
<div class="layui-tab-content">
    <div class="layui-tab-item layui-show">
        <!--图片地址-->
        <div class="layui-form-item">
            <label class="layui-form-label">{$lang.require_field} {$lang.img_src}</label>
            <div class="layui-input-block">
                <input type="file" name="img_file_src" value="" id="some_name" size="40" style="margin-top:5px;margin-left:10px;" />
                <input name="img_src" type="text" value="{$rt.img_src}" size="40" class="layui-input" placeholder="或输入图片网址" />
            </div>
        </div>
        <!--图片链接-->
        <div class="layui-form-item">
            <label class="layui-form-label">{$lang.img_url}</label>
            <div class="layui-input-block">
                <input name="img_url" type="text" value="{if $smarty.get.ad_link}{$smarty.get.ad_link}{else}{$rt.img_url}{/if}" size="40" class="layui-input" />
            </div>
        </div>
        <!--图片说明-->
        <div class="layui-form-item">
            <label class="layui-form-label">{$lang.schp_imgdesc}</label>
            <div class="layui-input-block">
                <input name="img_text" type="text" value="{$rt.img_txt}" class="layui-input" />
            </div>
        </div>
        <!--排序-->
        <div class="layui-form-item">
            <label class="layui-form-label">{$lang.schp_sort}</label>
            <div class="layui-input-block">
                <input name="img_sort" type="text" value="{$rt.img_sort}" class="layui-input"/>
            </div>
        </div>
        <p class="btn_padding_left">
            <input type="submit" class="layui-btn" value="{$lang.button_submit}" />
            <input type="reset" class="layui-btn layui-btn-primary" value="{$lang.button_reset}" />
            <input type="hidden"  name="id"       value="{$rt.id}" />
            <input type="hidden"  name="step"       value="2" />
            <input type="hidden"  name="act"       value="{$rt.act}" />
        </p>

    </div>
</div>
</form>

<script type="Text/Javascript" language="JavaScript">
<!--
onload = function()
{
    // 开始检查订单
    startCheckOrder();
}
//-->
</script>
{include file="pagefooter.htm"}