{if $comment_data.comment_list}
	{foreach $comment_data.comment_list as $key => $vo}
    <li class="clearfix">
        <div class="ipro_com_icon">
            <i class="zan {if $vo.has_zan gt 0}on{/if}" data-id="{$vo.comment_id}">{$vo.comment_zan}</i>
            <i class="favor" data-id="{$vo.comment_id}"></i>
        </div>
        <a href="{:url('user/designer_page', array('designer_id'=>$vo['user_id']))}"><div class="ipro_com_avatar lazybg" data-lazyload-bg="{$webUrl}/{$vo.headimg}"></div></a>
        <div class="ipro_com_txt">
            <h3><a href="{:url('user/designer_page', array('designer_id'=>$vo['user_id']))}"><b class="user_name">{$vo.user_name}</b></a><span>{$vo.add_time_str}</span><i class="i_pro_pf i_pro_pf{$vo.comment_rank}"></i></h3>
            <p>{$vo.content}</p>
        </div>
    </li>
    {/foreach}
{/if}