<div class="footer fix">
    <a href="{:url('Index/index')}" class="f1 {if $footer_on eq 'index'}on{/if}">
        <i></i>
        <p>首页</p>
    </a>

    <a href="{:url('Category/index')}" class="f2 {if $footer_on eq 'category'}on{/if}">
        <i></i>
        <p>分类</p>
    </a>

    <a href="{:url('Cart/index')}" class="f3 {if $footer_on eq 'cart'}on{/if}">
        <i></i>
        <p>购物车</p>
    </a>

    <a href="{:url('User/index')}" class="f4 {if $footer_on eq 'user'}on{/if}">
        <i></i>
        <p>我的</p>
    </a>
</div>