@font-face{
    font-family: FONT73WH36;
    src: url("../fonts/1522137041530653460.ttf");
}
@font-face{
    font-family: FONT97SJ19;
    src: url("../fonts/1521614060175494583.ttf");
}
@font-face{
    font-family: FONT20DP13;
    src: url("../fonts/1521614079509934360.ttf");
}
@font-face{
    font-family: FONT35Y35;
    src: url("../fonts/1521614100793372597.ttf");
}
@font-face{
    font-family: FONT54CY14;
    src: url("../fonts/1522197427721154957.ttf");
}
@font-face{
    font-family: FONT77DB44;
    src: url("../fonts/1528266971381251079.ttf");
}
@font-face{
    font-family: FONT86DM16;
    src: url("../fonts/1528270542149290491.ttf");
}

@font-face{
    font-family: FONT82KV14;
    src: url("../fonts/1528271657303996476.ttf");
}


@font-face{
    font-family: FONT69ZG86;
    src: url("../fonts/1528275393267303047.TTF");
}
@font-face{
    font-family: FONT62LZ27;
    src: url("../fonts/1528275633237672024.ttf");
}

